@charset "UTF-8";
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #9D9D9D;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Fira Sans', sans-serif;
  opacity: 1;
  /* Firefox */ }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #9D9D9D;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Fira Sans', sans-serif; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #9D9D9D;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Fira Sans', sans-serif; }

a.link {
  font-size: 16px;
  font-weight: 300;
  font-family: 'Fira Sans', sans-serif;
  letter-spacing: 0;
  color: #FF9797; }
  a.link:hover {
    cursor: pointer; }

.cursor-pointer {
  cursor: pointer; }

p, label, span {
  color: #2A2A2A; }

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border: none;
  outline: 0;
  box-shadow: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:hover {
  text-decoration: none;
  cursor: pointer; }

button.btn {
  outline: none;
  border: 0;
  cursor: pointer;
  border-radius: 3px; }
  button.btn:focus {
    outline: none; }

.btn-group-lg > .btn, .btn-lg {
  padding: 10px 28px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: .3rem; }

.btn-primary {
  color: #fff;
  font-family: Roboto;
  font-weight: 500;
  background-color: #FF9797;
  border-color: #FF9797;
  box-shadow: 0px 0px 6px #5D5D5D21; }

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #FF9797;
  border-color: #FF9797; }

.btn:not(:disabled):not(.disabled) {
  cursor: pointer; }

.btn-primary:hover {
  color: #fff;
  background-color: #FF9797;
  border-color: #FF9797; }

.btn-primary.focus, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none; }

.btn-light {
  color: #212529;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #5D5D5D21;
  border-color: #FFFFFF; }

.bg-gray {
  background-color: #FBF5F5; }

.text-primary-84 {
  color: #848484; }

.text-secondary-67 {
  color: #676767; }

.text-dark {
  color: #1E1E1E; }

.text-semi-dark-34 {
  color: #343434; }

.text-danger {
  color: #FC5959; }

.border {
  border: 1px solid #D4D4D4; }

.bold-border {
  border-bottom: 3px solid #E1E1E1; }

.thin-border {
  border-bottom: 1px solid #E1E1E1; }

.dotted-border-b {
  border-bottom: 1px dotted #9E9E9E; }

.user-rating-card {
  padding-bottom: 25px;
  margin-bottom: 25px; }
  .user-rating-card .media img {
    width: 87px;
    height: 75px; }
  .user-rating-card .media h5 {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Fira Sans', sans-serif;
    color: #2E2E2E; }

.rating {
  float: left; }
  .rating:not(:checked) > input {
    position: absolute;
    top: -9999px;
    clip: rect(0, 0, 0, 0); }
  .rating:not(:checked) > label {
    float: right;
    width: 1em;
    /* padding:0 .1em; */
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 20px;
    /* line-height:1.2; */
    color: #ddd; }
    .rating:not(:checked) > label:before {
      content: '★ '; }
  .rating:not(:checked) > label:hover {
    color: #FF9797; }
    .rating:not(:checked) > label:hover ~ label {
      color: #FF9797; }
  .rating > input:checked ~ label {
    color: #FF9797; }
  .rating > input:checked + label:hover, .rating > input:checked ~ label:hover {
    color: #FF9797; }
    .rating > input:checked + label:hover ~ label, .rating > input:checked ~ label:hover ~ label {
      color: #FF9797; }
  .rating > label:hover ~ input:checked ~ label {
    color: #FF9797; }
  .rating > label:active {
    position: relative;
    top: 2px;
    left: 2px; }
  .rating + span {
    font-size: 13px;
    font-family: Roboto;
    letter-spacing: 0;
    display: inline-block;
    margin-top: 4px;
    margin-left: 5px;
    color: #313133; }

.border-between > [class*='col-']:before {
  background: #B5B5B5;
  bottom: 0;
  content: " ";
  left: 0;
  position: absolute;
  width: 1px;
  top: 0; }

.border-between > [class*='col-']:first-child:before {
  display: none; }

.custom-control {
  padding-left: 25px; }

.custom-checkbox .custom-control-label::before {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #2D2D2D;
  border-radius: 2px; }

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #FF9797; }

.custom-control-label::after {
  position: absolute;
  top: .25rem;
  left: 0;
  display: block;
  width: 22px;
  height: 22px;
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  cursor: pointer; }

.custom-control-label::before {
  position: absolute;
  top: .25rem;
  left: 0;
  display: block;
  width: 22px;
  height: 22px;
  pointer-events: none;
  content: "";
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #dee2e6;
  cursor: pointer; }

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-size: 15px; }

.custom-from h5 {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
  letter-spacing: 0;
  color: #434343; }
.custom-from .input-group > .form-control {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0px;
  height: 48px;
  padding: 5px 10px;
  border-radius: 5px; }
.custom-from input + .input-group-append {
  position: absolute;
  right: 10px;
  top: 11px;
  z-index: 9; }
  .custom-from input + .input-group-append i {
    color: #1E1E1E; }

/*# sourceMappingURL=dynamic-style.css.map */
