@charset "UTF-8";
p {
  line-height: 19px; }

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #9D9D9D;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Fira Sans', sans-serif;
  opacity: 1;
  /* Firefox */ }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #9D9D9D;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Fira Sans', sans-serif; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #9D9D9D;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Fira Sans', sans-serif; }

a.link {
  font-size: 16px;
  font-weight: 300;
  font-family: 'Fira Sans', sans-serif;
  letter-spacing: 0;
  color: #FF9797; }
  a.link:hover {
    cursor: pointer; }

.apps-button-group a {
  display: inline-block; }
  .apps-button-group a:first-child {
    margin-right: 30px; }
  .apps-button-group a img {
    width: 208px;
    display: inline-block; }

.cursor-pointer {
  cursor: pointer; }

p, label, span {
  color: #2A2A2A; }

.form-control:focus {
  color: #495057;
  background-color: #fff;
  outline: 0;
  box-shadow: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:hover {
  text-decoration: none;
  cursor: pointer; }

.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: none !important; }

.funnel-group {
  display: inline-flex;
  border-radius: 5px; }
  .funnel-group.btn-group-lg .btn {
    padding: 12px 40px; }
  .funnel-group .btn:first-child {
    border-radius: 5px 0px  0px 5px; }
  .funnel-group .btn:last-child {
    border-radius: 0px 5px 5px 0px; }
  .funnel-group .btn:nth-child(2) {
    border-right: 1px solid #DFDFDF;
    border-left: 1px solid #DFDFDF;
    border-radius: 0; }
  .funnel-group .btn:focus {
    outline: 0;
    box-shadow: none; }
  .funnel-group .btn-group .btn + .btn, .funnel-group .btn-group .btn + .btn-group, .funnel-group .btn-group .btn-group + .btn, .funnel-group .btn-group .btn-group + .btn-group, .funnel-group .btn-group-vertical .btn + .btn, .funnel-group .btn-group-vertical .btn + .btn-group, .funnel-group .btn-group-vertical .btn-group + .btn, .funnel-group .btn-group-vertical .btn-group + .btn-group {
    margin-left: 0px; }

button.btn {
  outline: none;
  border: 0;
  cursor: pointer;
  border-radius: 3px;
  padding: 5px 16px; }
  button.btn.btn-group-lg > .btn, button.btn.btn-lg {
    padding: 10px 28px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: .3rem; }
  button.btn:focus {
    outline: none; }

.btn-group-lg > .btn, .btn-lg {
  padding: 10px 28px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: .3rem; }

.btn-white {
  font-size: 16px;
  font-family: 'Fira Sans', sans-serif;
  letter-spacing: 0;
  color: #545454;
  background-color: #fff; }
  .btn-white i {
    float: left;
    color: #313133; }

.btn-primary {
  color: #fff;
  font-family: Roboto;
  font-weight: 500;
  background-color: #FF9797;
  border-color: #FF9797;
  box-shadow: 0px 0px 6px #5D5D5D21; }

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #FF9797;
  border-color: #FF9797; }

.btn:not(:disabled):not(.disabled) {
  cursor: pointer; }

.btn-primary:hover {
  color: #fff;
  background-color: #FF9797;
  border-color: #FF9797; }

.btn-primary.focus, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none; }

.btn-light {
  color: #212529;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #5D5D5D21;
  border-color: #FFFFFF; }

.btn-secondary {
  color: #505050;
  background: #C4C4C4 0% 0% no-repeat padding-box;
  border-radius: 2px;
  border-color: #C4C4C4; }

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
  color: #505050;
  background-color: #C4C4C4;
  border-color: #C4C4C4; }

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
  color: #505050;
  background-color: #C4C4C4;
  border-color: #C4C4C4; }

.btn-transparent {
  color: #FF9797;
  background: transparent 0% 0% no-repeat padding-box;
  border-radius: 4px !important;
  border: 2px solid #FF9797 !important; }

.bg-gray {
  background-color: #FBF5F5; }

.section-title {
  font-size: 38px;
  font-weight: 600;
  line-height: 53px;
  font-family: 'Fira Sans', sans-serif;
  letter-spacing: 0;
  color: #616161; }
  .section-title.abstract-title {
    max-width: 475px;
    width: 100%;
    margin: 0 auto; }
    .section-title.abstract-title p {
      color: #616161;
      line-height: 40px; }

.section-label {
  font-size: 20px;
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
  letter-spacing: 0;
  color: #505050; }

.text-lead {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
  letter-spacing: 0;
  color: #828282; }

.text-primary-84 {
  color: #848484 !important; }

.text-secondary-67 {
  color: #676767 !important; }

.text-dark {
  color: #1E1E1E !important; }

.text-semi-dark-34 {
  color: #343434 !important; }

.text-danger {
  color: #FC5959 !important; }

.font-300 {
  font-weight: 300 !important; }

.font-400 {
  font-weight: 400 !important; }

.font-500 {
  font-weight: 500 !important; }

.font-600 {
  font-weight: 600 !important; }

.font-16 {
  font-size: 16px !important; }

.font-18 {
  font-size: 18px !important; }

.font-20 {
  font-size: 20px !important; }

.font-24 {
  font-size: 24px !important; }

.font-33 {
  font-size: 33px !important; }

.border {
  border: 1px solid #D4D4D4; }

.bold-border {
  border-bottom: 3px solid #E1E1E1; }

.thin-border {
  border-bottom: 1px solid #E1E1E1; }

.dotted-border-b {
  border-bottom: 1px dotted #9E9E9E; }

.user-rating-card {
  padding-bottom: 25px;
  margin-bottom: 25px; }
  .user-rating-card .media img {
    width: 87px;
    height: 75px; }
    .user-rating-card .media img.rounded-circle {
      width: 60px;
      height: 60px; }
  .user-rating-card .media h5 {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Fira Sans', sans-serif;
    color: #2E2E2E; }
  .user-rating-card.user-card-lg img {
    width: 130px;
    height: 130px; }
    .user-rating-card.user-card-lg img.rounded-circle {
      width: 130px;
      height: 130px; }
  .user-rating-card.user-card-lg h5 {
    font-size: 22px;
    font-weight: 600;
    font-family: 'Fira Sans', sans-serif;
    color: #2E2E2E;
    margin-bottom: 15px; }
  .user-rating-card.user-card-lg span {
    font-size: 22px; }
  .user-rating-card.user-card-lg .rating:not(:checked) > label {
    font-size: 30px; }

.rating {
  float: left; }
  .rating:not(:checked) > input {
    position: absolute;
    top: -9999px;
    clip: rect(0, 0, 0, 0); }
  .rating:not(:checked) > label {
    float: right;
    width: 1em;
    /* padding:0 .1em; */
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 20px;
    /* line-height:1.2; */
    color: #ddd; }
    .rating:not(:checked) > label:before {
      content: '★ '; }
  .rating:not(:checked) > label:hover {
    color: #FF9797; }
    .rating:not(:checked) > label:hover ~ label {
      color: #FF9797; }
  .rating > input:checked ~ label {
    color: #FF9797; }
  .rating > input:checked + label:hover, .rating > input:checked ~ label:hover {
    color: #FF9797; }
    .rating > input:checked + label:hover ~ label, .rating > input:checked ~ label:hover ~ label {
      color: #FF9797; }
  .rating > label:hover ~ input:checked ~ label {
    color: #FF9797; }
  .rating > label:active {
    position: relative;
    top: 2px;
    left: 2px; }
  .rating + span {
    font-size: 13px;
    font-family: Roboto;
    letter-spacing: 0;
    display: inline-block;
    margin-top: 4px;
    margin-left: 5px;
    color: #313133; }

.border-between > [class*='col-']:before {
  background: #B5B5B5;
  bottom: 0;
  content: " ";
  left: 0;
  position: absolute;
  width: 1px;
  top: 0; }

.border-between > [class*='col-']:first-child:before {
  display: none; }

.custom-control {
  padding-left: 25px; }

.custom-checkbox .custom-control-label::before {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #2D2D2D;
  border-radius: 2px; }

.custom-control {
  padding-left: 15px;
  min-height: 30px !important; }

.custom-control-label::after {
  position: absolute;
  top: .25rem;
  left: 0;
  display: block;
  width: 22px;
  height: 22px;
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  cursor: pointer; }

.custom-control-label::before {
  position: absolute;
  top: .25rem;
  left: 0;
  display: block;
  width: 22px;
  height: 22px;
  pointer-events: none;
  content: "";
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #dee2e6;
  cursor: pointer; }

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background: none;
  color: #fff;
  font-family: "Material Icons";
  content: "\e5ca";
  font-size: 18px;
  text-align: center;
  padding-top: 2px; }

.custom-control-label::after {
  width: 20px;
  height: 20px; }

.custom-control-label::before {
  width: 20px;
  height: 20px; }

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #FF9797; }

.custom-from h5 {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
  letter-spacing: 0;
  color: #434343; }
.custom-from .input-group > .form-control {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0px;
  height: 48px;
  padding: 5px 10px;
  border-radius: 5px; }
.custom-from input + .input-group-append {
  position: absolute;
  right: 10px;
  top: 11px;
  z-index: 9; }
  .custom-from input + .input-group-append i {
    color: #1E1E1E; }

.search-wrapper .input-group {
  margin-bottom: 15px; }
  .search-wrapper .input-group .input-icon {
    position: absolute;
    left: 15px;
    top: 12px; }
  .search-wrapper .input-group .search-box {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DFDFDF;
    border-radius: 5px;
    outline: 0;
    width: 100%;
    padding: 11px 20px 11px 45px;
    font-size: 16px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 0;
    color: #545454; }
    + .search-wrapper .input-group .search-box:not(:valid) + .close-icon {
      display: none; }
  .search-wrapper .input-group .close-icon {
    border: 0;
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
    height: 0;
    outline: 0;
    cursor: pointer; }
    .search-wrapper .input-group .close-icon:after {
      font-family: "Material Icons";
      content: "\e5cd";
      position: absolute;
      z-index: 1;
      right: 10px;
      bottom: 12px;
      padding: 2px;
      text-align: center;
      color: #8E8E8E;
      font-size: 20px;
      cursor: pointer; }

.page-section {
  margin-bottom: 60px; }

.comment-card {
  background: rgba(185, 185, 185, 0.1) 0% 0% no-repeat padding-box;
  border-left: 5px #FF9797 solid;
  border-radius: 6px;
  margin-bottom: 35px; }
  .comment-card .card-body {
    padding: 25px 25px; }

.opening-hours {
  background: #FBF8F8 0% 0% no-repeat padding-box;
  border-radius: 5px;
  padding: 20px 20px; }
  .opening-hours ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    color: #343434;
    padding-bottom: 20px; }
    .opening-hours ul li span {
      color: #343434; }
    .opening-hours ul li:last-child {
      padding-bottom: 0;
      color: #9F9F9F; }
      .opening-hours ul li:last-child span {
        color: #9F9F9F; }

.full-map-card {
  margin-bottom: 50px; }
  .full-map-card .full-map-body {
    background: #F6F6F6 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 5px 5px;
    padding: 50px 30px;
    margin-top: -10px; }

.price-card {
  background: #FBF8F8 0% 0% no-repeat padding-box;
  border-radius: 5px;
  padding: 15px 0; }
  .price-card ul li {
    border-bottom: 1px solid #E2E2E2;
    padding: 0 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px; }
    .price-card ul li:last-child {
      border-bottom: 0; }
    .price-card ul li span {
      font-size: 18px;
      font-weight: 400;
      font-family: 'Fira Sans', sans-serif;
      letter-spacing: 0;
      color: #818181; }
    .price-card ul li span:last-child {
      font-weight: 500;
      color: #2E2E2E; }

.salon-modal {
  background: transparent;
  border: none; }
  .salon-modal .modal-header {
    padding: 0; }
    .salon-modal .modal-header .close {
      position: absolute;
      top: -35px;
      z-index: 9;
      padding: 0;
      background-color: transparent;
      margin: 0;
      border-radius: 50%;
      opacity: 1; }
  .salon-modal .modal-body {
    background-color: #fff;
    padding: 15px 15px; }
    .salon-modal .modal-body .form-group .form-control {
      padding: 5px 0;
      font-size: 16px;
      font-weight: 400;
      font-family: 'Fira Sans', sans-serif;
      letter-spacing: 0;
      color: #AFAFAF; }
      .salon-modal .modal-body .form-group .form-control::-webkit-input-placeholder {
        /* Edge */
        color: #AFAFAF;
        font-weight: 400; }
      .salon-modal .modal-body .form-group .form-control:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #AFAFAF;
        font-weight: 400; }
      .salon-modal .modal-body .form-group .form-control::placeholder {
        color: #AFAFAF;
        font-weight: 400; }
  .salon-modal .modal-footer {
    background-color: #fff;
    border-top: 0;
    justify-content: center;
    flex-direction: column; }
    .salon-modal .modal-footer .btn {
      padding: 10px 55px; }
      .salon-modal .modal-footer .btn.btn-primary {
        background: transparent linear-gradient(90deg, #F8D7C7 0%, #F6CDD6 51%, #F6CDD6 100%) 0% 0% no-repeat padding-box; }

@media (min-width: 768px) {
  .price-card ul li {
    padding: 0 70px 0 70px; }

  .salon-modal .modal-body {
    padding: 30px 60px; } }
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 600px;
    margin: 1.75rem auto; } }

/*# sourceMappingURL=dynamic-style.css.map */
