p {
  line-height: 19px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #9D9D9D;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Fira Sans', sans-serif;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #9D9D9D;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Fira Sans', sans-serif;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #9D9D9D;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Fira Sans', sans-serif;
}
a.link {
  font-size: 16px;
  font-weight: 300;
  font-family: 'Fira Sans', sans-serif;
  letter-spacing: 0;
  color: #FF9797;
  &:hover {
    cursor: pointer;
  }
}
.apps-button-group a {
  display: inline-block;
  &:first-child {
    margin-right: 30px;
  }
  img {
    width: 208px;
    display: inline-block;
  }
}
.cursor-pointer {
  cursor: pointer;
}
p, label, span{
  color: #2A2A2A;
}
.form-control:focus {
  color:#495057;
  background-color:#fff;
  outline: 0;
  box-shadow: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0; }

a:hover {
  text-decoration: none;
  cursor: pointer;
}
.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: none !important;
}

.funnel-group {
  display: inline-flex;
  border-radius: 5px;
  &.btn-group-lg {
    .btn {
      padding: 12px 40px;
    }
  }
  .btn {
    &:first-child{
      border-radius: 5px 0px  0px 5px;
    }
    &:last-child{
      border-radius: 0px 5px 5px 0px;
    }
    &:nth-child(2) {
      border-right: 1px solid #DFDFDF;
      border-left: 1px solid #DFDFDF;
      border-radius: 0;
    }
    &:focus {
      outline: 0;
      box-shadow: none;
    }
  }
  .btn-group .btn+.btn, .btn-group .btn+.btn-group, .btn-group .btn-group+.btn, .btn-group .btn-group+.btn-group, .btn-group-vertical .btn+.btn, .btn-group-vertical .btn+.btn-group, .btn-group-vertical .btn-group+.btn, .btn-group-vertical .btn-group+.btn-group {
    margin-left: 0px;
  }
}
button.btn {
  outline: none;
  border: 0;
  cursor: pointer;
  border-radius: 3px;
  padding: 5px 16px;
  &.btn-group-lg > .btn, &.btn-lg {
    padding: 10px 28px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: .3rem;
  }
  &:focus {
    outline: none;
  }
}
.btn-group-lg>.btn, .btn-lg {
  padding: 10px 28px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: .3rem;
}
.btn-white {
  font-size: 16px;
  font-family: 'Fira Sans', sans-serif;
  letter-spacing: 0;
  color: #545454;
  background-color: #fff;
  i {
    float: left;
    color: #313133;
  }
}
.btn-primary {
  color: #fff;
  font-family: Roboto;
  font-weight: 500;
  background-color: #FF9797;
  border-color: #FF9797;
  box-shadow: 0px 0px 6px #5D5D5D21;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #FF9797;
  border-color: #FF9797;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.btn-primary:hover {
  color: #fff;
  background-color: #FF9797;
  border-color: #FF9797;
}
.btn-primary.focus, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-light {
  color: #212529;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #5D5D5D21;
  border-color: #FFFFFF;
}

.btn-secondary {
  color: #505050;
  background: #C4C4C4 0% 0% no-repeat padding-box;
  border-radius: 2px;
  border-color: #C4C4C4;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
  color: #505050;
  background-color: #C4C4C4;
  border-color: #C4C4C4;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
  color: #505050;
  background-color: #C4C4C4;
  border-color: #C4C4C4;
}

.btn-transparent {
  color: #FF9797;
  background: transparent 0% 0% no-repeat padding-box;
  border-radius: 4px !important;
  border: 2px solid #FF9797 !important;
}
.bg-gray {
  background-color: #FBF5F5;
}
.section-title {
  font-size: 38px;
  font-weight: 600;
  line-height: 53px;
  font-family: 'Fira Sans', sans-serif;
  letter-spacing: 0;
  color: #616161;
  &.abstract-title {
    max-width: 475px;
    width: 100%;
    margin: 0 auto;
    p {
      color: #616161;
      line-height: 40px;
    }
  }
}
.section-label {
  font-size: 20px;
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
  letter-spacing: 0;
  color: #505050;
}
.text-lead {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
  letter-spacing: 0;
  color: #828282;
}
.text-primary-84 {
  color: #848484 !important;
}
.text-secondary-67 {
  color: #676767 !important;
}
.text-dark {
  color: #1E1E1E !important;
}
.text-semi-dark-34 {
  color: #343434!important;
}
.text-danger {
  color: #FC5959 !important;
}
.font-300 {
  font-weight: 300 !important;
}
.font-400 {
  font-weight: 400 !important;
}
.font-500 {
  font-weight: 500 !important;
}
.font-600 {
  font-weight: 600 !important;
}
.font-14 {
  font-size: 14px !important;
}
.font-16 {
  font-size: 16px !important;
}
.font-18 {
  font-size: 18px !important;
}
.font-20 {
  font-size: 20px !important;
}
.font-24 {
  font-size: 24px !important;
}
.font-33 {
  font-size: 33px !important;
}
.font-40 {
  font-size: 40px;
}
.font-50 {
  font-size: 50px;
}
.border {
  border: 1px solid #D4D4D4;
}
.bold-border {
  border-bottom: 3px solid #E1E1E1;
}
.thin-border {
  border-bottom: 1px solid #E1E1E1;
}
.dotted-border-b {
  border-bottom: 1px dotted #9E9E9E;
}
//user-rating-card styling start
.user-rating-card {
   padding-bottom: 25px;
   margin-bottom: 25px;
   .media {
     img {
       width: 87px;
       height: 75px;
       &.rounded-circle {
         width: 60px;
         height: 60px;
       }
     }
     h5 {
       font-size: 16px;
       font-weight: 400;
       font-family: 'Fira Sans', sans-serif;
       color: #2E2E2E;
     }
   }
  &.user-card-lg {
    img {
      width: 130px;
      height: 130px;
      &.rounded-circle {
        width: 130px;
        height: 130px;
      }
    }
    h5 {
      font-size: 22px;
      font-weight: 600;
      font-family: 'Fira Sans', sans-serif;
      color: #2E2E2E;
      margin-bottom: 15px;
    }
    span {
      font-size: 22px;
    }
    .rating:not(:checked) > label {
      font-size: 30px;
    }
  }
 }
//user-rating-card styling end

//rating stars css start
//https://bootsnipp.com/snippets/qr6zz
.rating {
  float: left;
  &:not(:checked) {
    > {
      input {
        position: absolute;
        top: -9999px;
        clip: rect(0, 0, 0, 0);
      }
      label {
        float: right;
        width: 1em;
        /* padding:0 .1em; */
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        font-size: 20px;
        /* line-height:1.2; */
        color: #ddd;
        &:before {
          content: '★ ';
        }
      }
    }
    > label:hover {
      color: #FF9797;
      ~ label {
        color: #FF9797;
      }
    }
  }
  > input:checked ~ label {
    color: #FF9797;
  }
  > {
    input:checked {
      + label:hover, ~ label:hover {
        color: #FF9797;
        ~ label {
          color: #FF9797;
        }
      }
    }
    label {
      &:hover ~ input:checked ~ label {
        color: #FF9797;
      }
      &:active {
        position: relative;
        top: 2px;
        left: 2px;
      }
    }
  }
  + span {
    font-size: 13px;
    font-family: Roboto;
    letter-spacing: 0;
    display: inline-block;
    margin-top: 4px;
    margin-left: 5px;
    color: #313133;
  }
}
//rating stars css end

.border-between > [class*='col-']:before {
  background: #B5B5B5;
  bottom: 0;
  content: " ";
  left: 0;
  position: absolute;
  width: 1px;
  top: 0;
}

.border-between > [class*='col-']:first-child:before {
  display: none;
}

//custom-checkbox start
.custom-control {
  padding-left: 25px;
}
.custom-checkbox .custom-control-label::before {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #2D2D2D;
  border-radius: 2px;
}
.custom-control {
  padding-left: 15px;
  min-height: 30px !important;
}
.custom-control-label::after {
  position: absolute;
  top: .25rem;
  left: 0;
  display: block;
  width: 22px;
  height: 22px;
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  cursor: pointer;
}
.custom-control-label::before {
  position: absolute;
  top: .25rem;
  left: 0;
  display: block;
  width: 22px;
  height: 22px;
  pointer-events: none;
  content: "";
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #dee2e6;
  cursor: pointer;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
  background: none;
  color: #fff;
  font-family: "Material Icons";
  content: "\e5ca";
  font-size: 18px;
  text-align: center;
  padding-top: 2px;
}

.custom-control-label::after {
  width: 20px;
  height: 20px;
}
.custom-control-label::before {
  width: 20px;
  height: 20px;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #FF9797;
}

//custom-checkbox end

//custom form fieldset
.custom-from {
  h5 {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: 0;
    color: #434343;
  }
  .input-group>.form-control {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0px;
    height: 48px;
    padding: 5px 10px;
    border-radius: 5px;
  }
  input + .input-group-append {
    position: absolute;
    right: 10px;
    top: 11px;
    z-index: 9;
    i {
      color: #1E1E1E;
    }
  }
  .bg-custom-form {
    background: rgba(248, 248, 248, 0.88) 0% 0% no-repeat padding-box;
    padding: 30px 30px;
  }
}

//search wrapper input form start
.search-wrapper {
  .input-group {
    margin-bottom: 15px;
    .input-icon{
      position: absolute;
      left: 15px;
      top: 12px;
    }
    .search-box {
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border: 1px solid #DFDFDF;
      border-radius: 5px;
      outline: 0;
      width: 100%;
      padding: 11px 20px 11px 45px;
      font-size: 16px;
      font-family: 'Fira Sans', sans-serif;
      font-weight: 400;
      letter-spacing: 0;
      color: #545454;

      + &:not(:valid) + .close-icon {
        display: none;
      }
    }
    .close-icon {
      border: 0;
      background-color: transparent;
      display: inline-block;
      vertical-align: middle;
      height: 0;
      outline: 0;
      cursor: pointer;
      &:after {
        font-family: "Material Icons";
        content: "\e5cd";
        position: absolute;
        z-index: 1;
        right: 10px;
        bottom: 12px;
        padding: 2px;
        text-align: center;
        color: #8E8E8E;
        font-size: 20px;
        cursor: pointer;
      }
    }
  }
}
//search wrapper input form end
//static pages styling
.page-section {
  margin-bottom: 60px;
}
//static pages styling end

.comment-card {
  background: rgba(185, 185, 185, 0.1) 0% 0% no-repeat padding-box;
  border-left: 5px #FF9797 solid;
  border-radius: 6px;
  margin-bottom: 35px;
  .card-body {
    padding: 25px 25px;
  }
}

.opening-hours {
  background: #FBF8F8 0% 0% no-repeat padding-box;
  border-radius: 5px;
  padding: 20px 20px;
  ul {
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0;
      color: #343434;
      padding-bottom: 20px;
      span {
        color: #343434;
      }
      &:last-child {
        padding-bottom: 0;
        color: #9F9F9F;
        span {
          color: #9F9F9F;
        }
      }
    }
  }
}
.full-map-card {
  margin-bottom: 50px;
  .full-map-body {
    background: #F6F6F6 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 5px 5px;
    padding: 50px 30px;
    margin-top: -10px;
  }
}
.price-card {
  background: #FBF8F8 0% 0% no-repeat padding-box;
  border-radius: 5px;
  padding: 15px 0;
  ul {
    li {
      border-bottom: 1px solid #E2E2E2;
      padding: 0 30px 0 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 65px;
      &:last-child {
        border-bottom: 0;
      }
      span {
        font-size: 18px;
        font-weight: 400;
        font-family: 'Fira Sans', sans-serif;
        letter-spacing: 0;
        color: #818181;
      }
      span:last-child {
        font-weight: 500;
        color: #2E2E2E;
      }
    }
  }
}
.salon-modal {
  background: transparent;
  border: none;
  .modal-header {
    padding: 0;
    .close {
      position: absolute;
      top: -35px;
      z-index: 9;
      padding: 0;
      background-color: transparent;
      margin: 0;
      border-radius: 50%;
      opacity: 1;
    }
  }
  .modal-body {
    background-color: #fff;
    padding: 15px 15px;
    .form-group .form-control {
      padding: 5px 0;
      font-size: 16px;
      font-weight: 400;
      font-family: 'Fira Sans', sans-serif;
      letter-spacing: 0;
      color: #AFAFAF;
      &::-webkit-input-placeholder { /* Edge */
        color: #AFAFAF;
        font-weight: 400;
      }

      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #AFAFAF;
        font-weight: 400;
      }

      &::placeholder {
        color: #AFAFAF;
        font-weight: 400;
      }
    }
  }
  .modal-footer {
    background-color: #fff;
    border-top: 0;
    justify-content: center;
    flex-direction: column;
    .btn {
      padding: 10px 55px;
      &.btn-primary {
        background: transparent linear-gradient(90deg, #F8D7C7 0%, #F6CDD6 51%, #F6CDD6 100%) 0% 0% no-repeat padding-box;
      }
    }

  }
}

.simple-form {
  label {
    margin-bottom: 8px;
  }
  .form-group {
    margin-bottom: 25px;
    .form-control{
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border: 1px solid #D4D4D4;
      border-radius: 5px;
      display: block;
      width: 100%;
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      color: #495057;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
  }
}
@media (min-width: 768px) {
  .price-card {
    ul {
      li {
        padding: 0 70px 0 70px;
      }
    }
  }
  .salon-modal {
    .modal-body {
      padding: 30px 60px;
    }
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 600px;
    margin: 1.75rem auto;
  }

}
