@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
//https://xd.adobe.com/view/30a06802-1133-4b71-5fff-2c91baf72df9-4691/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del,
dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup,
tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer, header, hgroup, menu,
nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Fira Sans', sans-serif;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
.nowrap {
  white-space: nowrap ;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; }
}

//Theme buttons styling
.login-btn {
  background: transparent linear-gradient(356deg, #F8D7C7 0%, #F6CDD6 100%) 0% 0% no-repeat padding-box;
  border-radius: 22px;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}
//nav-bar styling

.navbar-light .navbar-nav .nav-link {
  color: #676767;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #848484;
}
.nav-link {
  display: block;
  padding: .5rem 1rem;
}
.navbar-light .navbar-toggler {
  color: #676767;
  border: 0;
  padding: 5px 5px;
}

.tab-row {
  height: 85px;
  background-color: #eee;
  background-size: 100% 100px;
  position: absolute;
  right: 0;
  left: 0;
}
.nav-tabs {
  padding: 40px 0 15px 0;
  border-bottom: none;
  .nav-link {
    border: none;
    border-radius: 0;
    color: #676767;
    font-size: 18px;
    font-weight: 400;
    display: block;
    padding: 0;
    margin: 0 50px 10px 0;
  }
}
.nav-tabs.parent-tab {
  .nav-link:after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
  }
  .nav-link:hover:after, .nav-link.active:after {
    background: #FC5959;
  }
}
.nav-tabs.child-tab {
  padding: 25px 0 0 0;
  &.bold-border {
    border-bottom: 3px solid #E1E1E1;
  }
  .nav-link {
    border: none;
    border-radius: 0;
    color: #676767;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Fira Sans', sans-serif;
    display: block;
    padding: 0;
    margin: 0 25px 10px 0;
  }
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #676767;
  background: none;
  border-bottom: 0;
}
.table td, .table th {
  padding: 13px 10px;
  vertical-align: middle;
  border-top: none;
  border-bottom: 1px solid #E1E1E1 ;
}
.booking-date {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
  letter-spacing: 0;
  color: #1E1E1E;
  margin-bottom: 5px;
  +p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Fira Sans', sans-serif;
    color: #848484;
  }
}
.booking-destination, .booking-info-title {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
  color: #1E1E1E;
  margin-bottom: 5px;
  +p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Fira Sans', sans-serif;
    line-height: 23px;
    color: #848484;
  }
}
.booking-reason {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
  color: #6B6B6B;
}

//left user card section
.user-card {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #00000024;
  padding: 15px 15px;
  margin-top: 40px;
  img {
    margin-bottom: 13px;
  }
  h2 {
    font-size: 22px;
    font-weight: 400;
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: 0;
    color: #343434;
    opacity: 1;
    margin-bottom: 10px;
  }
  p.gender {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: 0;
    margin-bottom: 20px;
    color: #656565;
  }
  .btn {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Fira Sans', sans-serif;
  }
  .user-card-form {
    input[type=text], select, textarea {
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border: 1px solid #DCDCDC;
      width: 100%;
      padding: 7px 7px;
      margin-bottom: 10px;
      color: #6E6E6E;
    }
    textarea {
      width: 100%;
      resize: none;
    }
  }
  .user-card-footer {
    border-top: 1px solid #DCDCDC;
    padding-top: 20px;
    a.login-info {
      font-size: 13px;
      font-weight: 300;
      display: block;
      font-family: 'Fira Sans', sans-serif;
      letter-spacing: 0;
      margin-bottom: 5px;
      color: #A1A1A1;
    }
    a.mail-link {
      font-size: 14px;
      font-weight: 400;
      display: block;
      margin-bottom: 10px;
      font-family: 'Fira Sans', sans-serif;
      letter-spacing: 0;
      color: #343434;
    }
    a.reset-pass {
      color: #FC5959;
      display: block;
      font-size: 14px;
      font-weight: 400;
      font-family: 'Fira Sans', sans-serif;
      margin-bottom: 10px;
    }
  }
}
//left user card section end

//booking details styling start
.navigate-icon {
  border: 1px solid #242424;
  border-radius: 100%;
  .material-icons {
    vertical-align: middle;
    line-height: 20px;
  }
}
.booking-details {
  .appointment-time {
    text-align: center;
    display: flex;
    align-items: center;
    > div {
    }
      font-family: 'Fira Sans', sans-serif;
      letter-spacing: 0;
      color: #5B5B5B;
    h3{
      font-weight: 300;
      font-size: 36px;
    }
    p{
      font-weight: 300;
      font-size: 16px;
    }
  }
  .payment-detail-list {
    li {
      padding-bottom: 16px;
      margin-bottom: 16px;
      .payment-title {
        font-size: 16px;
        font-weight: 400;
        font-family: 'Fira Sans', sans-serif;
        color: #6D6D6D;
        display: inline-block;
        width: 40%;
      }
      .payment-value {
        font-size: 20px;
        font-weight: 400;
        font-family: 'Fira Sans', sans-serif;
        color: #1E1E1E;
      }
    }
  }
}
.address-text {
  label {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Fira Sans', sans-serif;
    margin-bottom: 7px;
    letter-spacing: 0;
    color: #7E7E7E;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Fira Sans', sans-serif;
    line-height: 23px;
    color: #575757;
  }
}

                //remove booking modal css start
.remove-booking-modal {
  .modal-content {
    border: none;
    border-radius: 0;
    outline: 0;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 50px #00000017;
  }
  .modal-body {
    padding: 40px 0 30px 0;
    p{
      font-size: 18px;
      font-weight: 400;
      font-family: 'Fira Sans', sans-serif;
      letter-spacing: 0;
      color: #2D2D2D;
      margin-bottom: 38px;
    }
    .cancel-fee {
      padding: 25px 0;
      margin-bottom: 50px;
      background: transparent linear-gradient(0deg, #F8D7C7 0%, #F6CDD6 76%, #F6CDD6 100%) 0% 0% no-repeat padding-box;
      font-size: 18px;
      font-weight: 400;
      font-family: Roboto;
      letter-spacing: 0;
      color: #535353;
    }
    .cancel-modal-footer {
      div:first-child a {
        font-size: 20px;
        font-weight: 400;
        font-family: 'Fira Sans', sans-serif;
        letter-spacing: 0;
        color: #A4A4A4;
      }
      div:last-child a{
        font-size: 20px;
        font-weight: 400;
        font-family: 'Fira Sans', sans-serif;
        letter-spacing: 0;
        color: #FF9797;
      }
    }
  }
}

                //remove booking modal css end
                //payment method card css start
.payment-card {
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #5D5D5D21;
  border-radius: 5px;
  opacity: 1;
  min-height: 110px;
  img {
    margin-bottom: 15px;
  }
  &.mini-card {
    min-height: 51px;
    align-items: center;
    padding: 0 10px;
    img {
      margin-bottom: 0px;
    }

    .custom-control-label::after {
      width: 15px;
      height: 15px;
    }
    .custom-control-label::before {
      width: 15px;
      height: 15px;
    }

  }
  p {
    font-size: 16px;
    font-weight: 400;
    font-family: Roboto;
    letter-spacing: 0;
    color: #BEBEBE;
  };
}


                //payment method card css end

//booking details styling end

//Home page-7 styling Download app page start
.app-page-banner {
  background: url("../images/app-download-banner.png") center center/cover no-repeat;
  min-height: 400px;
  .treatment-card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #0000001A;
    padding: 30px 20px;
  }
}
.app-card {
  max-width: 521px;
  width: 100%;
  margin: 0 auto 50px auto;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 0.800000011920929px solid #CCCCCC;
  .app-card-body {
    padding: 0 19px;
  }
  img {
      margin-bottom: 30px;
  }
  h5 {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: 0;
    margin-bottom: 20px;
    color: #464646;
  }
  p {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Fira Sans', sans-serif;
    line-height: 23px;
    letter-spacing: 0;
    color: #6B6B6B;
    margin-bottom: 20px;
  }
}
//Home page-7 styling Download app page End

//get-app-page Home page 5p styling
.get-app-page {
  .get-app-banner {
    background: url("../images/get-app.png") center center/cover no-repeat;
    min-height: 504px;
  }
  .salon-card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #AFAFAF;
    border-bottom: 0;
    border-radius: 4px;
    .salon-card-body {
      padding: 15px 20px;
      &.add {
        h3 {
          font-size: 24px;
          font-weight: 600;
          font-family: 'Fira Sans', sans-serif;
          letter-spacing: 0;
          margin-bottom: 8px;
        }
        p {
          font-size: 14px;
          font-weight: 400;
          font-family: 'Fira Sans', sans-serif;
          letter-spacing: 0;
          color: #FF9797;
        }
      }

    }
    img {
      margin-bottom: -3px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}

//get-app-page Home page 5p styling End

//Eyelashes page and listing styling
.eyelashes-listing-page {
  .eyelashes-page-banner {
    background: url("../images/eyelashes-page-banner.png") center center/cover no-repeat;
    min-height: 285px;
  }
}
.blog-card {
  margin-bottom: 100px;
  img {
    margin-bottom: 10px;
  }
  .blog-card-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    .event-icon {
      background: #fff;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      outline: none;
      border: none;
      padding: 5px 5px;
      &:first-child {
      }
      i.material-icons {
        font-size: 19px;
        vertical-align: middle;
        line-height: 15px;
      }
    }
  }
  .b-card-body {
    h2 {
      font-family: 'Fira Sans', sans-serif;
      font-size: 22px;
      font-weight: 500;
      line-height: 31px;
      letter-spacing: 0;
      color: #2E2E2E;
    }
    .rating {
      label {
        font-size: 26px;
      }
      + span {
        font-size: 18px;
      }
    }
    .review-counter {
      font-family: 'Fira Sans', sans-serif;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0;
      color: #888888;
    }

  }
  .owl-carousel {
    .owl-nav {
      width: 100%;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
    }
    button:focus {
      outline: none !important;
    }
    button.owl-prev {
      vertical-align: sub;
      background: #fff;
      padding: 15px 15px !important;
      border-radius: 50%;
      font-size: 30px;
      margin-left: 8px;
      line-height: 7px;
    }
    button.owl-next {
      float: right;
      margin-right: 8px;
      background: #fff;
      padding: 15px 15px !important;
      border-radius: 50%;
      font-size: 30px;
      line-height: 7px;
      vertical-align: sub;
    }
  }
}
//Eyelashes page and listing styling End

//Review section
.nav-link.therapists-nav-navtab {
  border-bottom: none;
}

.nav-link.therapists-navlink {
  border: none;
  color: #656565 ;
  font-size: 20px;
  width: 9rem;
  text-align: center;
}

.nav-link.therapists-navlink.active {
  color: #FF9797;
  background-color: #fff;
  border-bottom: 1px #FF9797 solid;
  font-size: 20px;
}

.book-modal-content-header {
  background: transparent;
  border: none;
}
.container-saloon-img1 {
  position: relative;
  .saloon-top-left {
    position: absolute;
    top: 8px;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    h2 {
      font-family: 'Fira Sans', sans-serif;
      font-size: 28px;
      font-weight: 500;
      letter-spacing: 0;
      margin-bottom: 6px;
      color: #585858;
    }

    p {
      font-family: 'Fira Sans', sans-serif;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0;
      color: #777777;
      margin-bottom: 20px;
    }
    button {
      font-size: 16px;
    }
  }
}
/* Top left text */

//Review section End

.footer {
  background: transparent linear-gradient(0deg, #F8D7C7 0%, #F6CDD6 76%, #F6CDD6 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px -3px 10px #0000000A;
  padding: 75px 0 20px 0;
  margin-top: 100px;

  .bottom-footer {
    border-top: 1px solid #fff;
    padding: 15px 0 0 0;
    .copy-right {
      color: #fff;
      font-size: 16px;
      letter-spacing: 1.6px;
      font-weight: 400;
    }
  }
}
.footer-widget {
  h3.widget-title {
    font-family: 'Fira Sans', sans-serif;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0;
    color: #FFFFFF;
    margin-bottom: 21px;
  }
  .widget-content {
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    ul {
      li {
        margin-bottom: 20px;
        list-style: disc;
        a {
          color: #FFFFFF;
        }
      }
    }
    input.form-control {
      border: none;
      outline: none;
      padding: 8px 15px;
      border-right: 1px solid #eee;
    }
    .input-group-text {
      background:#fff;
      border-left: 1px solid #602222;
      border-right: 0;
      border-top: 0;
      border-bottom: 0;
    }
    .gallery {
      .col-md-4, > div {
        position: relative;
        margin-bottom: 10px;
        width: 100%;
        min-height: 1px;
        padding-right: 8px;
        padding-left: 8px;

      }
      a {
        display: block;
      }
      img {
        width: 100%;
      }
    }
  }
  .apps-button-group a {
    display: inline-block;
    &:first-child {
      margin-right: 30px;
    }
    img {
      width: 130px;
      display: inline-block;
    }
  }
}
.social-media {
  margin-bottom: 60px;
  a {
    display: inline-block;
      img {
        width: 40px;
        height: 40px;
        border-radius: 100%;
      }
  }
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 25px;
    padding-left: 25px;
  }
}
