<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>create 3</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha256-UhQQ4fxEeABh4JrcmAJ1+16id/1dnlOEVCFOxDef9Lw=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha256-kksNxjDRxd/5+jGurZUJd1sdR2v+ClrCl3svESBaJqw=" crossorigin="anonymous" />

  <link rel="stylesheet" href="../style/pre-style.css">
  <link rel="stylesheet" href="../style/dynamic-style.css">
  <link rel="stylesheet" href="../style/style.css">
</head>
<body>

  <div class="header">
    <div class="container">
      <nav class="navbar navbar-expand-md navbar-light">
        <a href="#" class="navbar-brand">
          <img src="../images/pamper-logo.png" alt="pamper-logo">
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
          <div class="navbar-nav">
            <a href="#" class="nav-item nav-link active">Home</a>
            <a href="#" class="nav-item nav-link">About Us</a>
            <a href="#" class="nav-item nav-link">News</a>
            <a href="#" class="nav-item nav-link">Contact Us</a>
            <a href="#" class="nav-item nav-link login-btn text-white">Login</a>
          </div>
        </div>
      </nav>
    </div>
  </div>
	<div id="body">
		<div class="container mb-5">
			<div class="row pt-5 pb-3">
				<div class="col-sm-12 col-md-2">

				</div>
				<div class="col-sm-12 col-md-8 pt-5 text-center">
					<img src="../images/mail-sent.png" class="img-fluid">
					<p style="font-size: 33px;" class="mb-0 text-center">Reset Password Email Sent!</p>
					<p class="mb-0 text-center pt-4 pb-2">If there is an account associated with the provided email, then you will receive
						an email with a link to reset your password</p>

				</div>
				<div class="col-sm-12 col-md-2">

				</div>
			</div>

		</div>
	</div>
	<div id="footer">
		<section class="footer-section">
			<div class="container">
				<div class="row ">
					<div class="col-sm-12 col-md-12 col-lg-4">
						<p class="mb-0 text-white" style="font-size: 20px;">Navigation</p>
						<ul class="text-white p-3">
							<li>
								Home
							</li>
							<li>
								About Us
							</li>
							<li>
								Contact Us
							</li>
							<li>
								Terms & Conditions
							</li>
							<li>
								Policy
							</li>
						</ul>
					</div>
					<div class="col-sm-12 col-md-12 col-lg-4">
						<p class="mb-0 text-white " style="font-size: 20px;">Search</p>
						<div class="pt-4 pr-3 pb-3 pl-0">
							<div class="input-group " style="width: 303px;">
								<input type="text" class="form-control border-0 rounded-0 shadow-none " placeholder="SEARCH FOR BRAND" aria-label="SEARCH FOR BRAND"
									  aria-describedby="basic-addon2">
								<div class="input-group-append">
								<span class="input-group-text border-0 " style="background-color: white;" id="basic-addon2"><img src="../images/Line%20160.png"
																											  style="height: 20px;padding-right: 12px;"><i
									   class="fas fa-search mona-lina-text"></i></span>
								</div>
							</div>

							<div class="d-flex flex-row justify-content-start">
								<div class="p-2">
									<button class="btn shadow-none">
										<img src="../images/Group%20683.png">
									</button>
								</div>
								<div class="p-2">
									<button class="btn shadow-none">
										<img src="../images/Group%20682.png">
									</button>
								</div>
								<div class="p-2">
									<button class="btn shadow-none ">
										<img src="../images/Group%20681.png">
									</button>
								</div>
							</div>

							<div class="d-flex flex-row justify-content-start">
								<div class="p-2">
									<button class="btn shadow-none">
										<img src="../images/Mask%20Group%20181.png" class="img-fluid">
									</button>
								</div>
								<div class="p-2">
									<button class="btn shadow-none">
										<img src="../images/Mask%20Group%20182.png" class="img-fluid">
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-12 col-lg-4">
						<p class="mb-0 text-white pl-2" style="font-size: 20px;">Latest Salon</p>

						<div class="pt-3 pr-3 pb-3 pl-0">
							<div class="d-flex flex-row justify-content-start">
								<div class="p-2">

									<img src="../images/Mask%20Group%20171.png" class="footer-pics">

								</div>
								<div class="p-2">

									<img src="../images/Mask%20Group%20170.png" class="footer-pics">

								</div>
								<div class="p-2">

									<img src="../images/Mask%20Group%20169.png" class="footer-pics">

								</div>
							</div>

							<div class="d-flex flex-row justify-content-start">
								<div class="p-2">

									<img src="../images/Mask%20Group%20171.png" class="footer-pics">

								</div>
								<div class="p-2">

									<img src="../images/Mask%20Group%20170.png" class="footer-pics">

								</div>
								<div class="p-2">

									<img src="../images/Mask%20Group%20169.png" class="footer-pics">

								</div>
							</div>
						</div>

					</div>
				</div>
				<hr class="bg-white">
				<div class="row">
					<div class="col">
						<div class="d-flex flex-row justify-content-start">
							<div class="p-1">
								<img src="../images/Group%20700.png">
							</div>
							<div class="p-1">
								<p class="mb-0 text-white">2019 Pampr Limited</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>


<!-- bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	   crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	   crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	   crossorigin="anonymous"></script>
<!-- select2 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

<!-- select2-bootstrap4-theme -->
<script src="./js/script.js"></script>
</body>
</html>
