<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home 7</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="../style/dynamic-style.css">
  <link rel="stylesheet" href="../style/style.css">

</head>
<body>
  <div class="header">
    <div class="container">
      <nav class="navbar navbar-expand-md navbar-light">
        <a href="#" class="navbar-brand">
          <img src="../images/pamper-logo.png" alt="pamper-logo">
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
          <div class="navbar-nav">
            <a href="#" class="nav-item nav-link active">Home</a>
            <a href="#" class="nav-item nav-link">About Us</a>
            <a href="#" class="nav-item nav-link">News</a>
            <a href="#" class="nav-item nav-link">Contact Us</a>
            <a href="#" class="nav-item nav-link login-btn text-white">Login</a>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="page-section">
    <div class="app-page-banner mt-4 d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="treatment-card">
              <img class="mb-4" src="../images/card-logo.png" alt="card-logo">
              <div class="search-wrapper">
                <form>
                  <div class="input-group">
                    <span class="input-icon">
                      <img src="../images/magnifier-tool.png" alt="magnifier-tool">
                    </span>
                    <input type="text" name="focus" required class="search-box" placeholder="Enter search term" />
                    <button class="close-icon" type="reset"></button>
                  </div>
                  <div class="input-group">
                    <span class="input-icon">
                      <img src="../images/magnifier-tool.png" alt="magnifier-tool">
                    </span>
                    <input type="text" name="focus" required class="search-box" placeholder="Enter search term" />
                    <button class="close-icon" type="reset"></button>
                  </div>

                  <div class="search-wrapper-footer pt-3">
                    <button class="btn btn-primary btn-block btn-lg">Search Pampr</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-section">
    <div class="container">
      <div class="row">
        <div class="col text-center pt-4">
          <h3 class="section-label mb-5">
            The brighter way to book beauty
          </h3>
        </div>
      </div>
      <div class="row pt-5">
        <div class="col-md-4 text-center mb-4">
          <img class="mb-3" src="../images/smart.png" alt="smart">
          <h3 class="mb-3 text-dark font-500 font-18">Smart prices</h3>
          <p class="mb-3 text-lead">Just book last-minute, or off-peak</p>
        </div>
        <div class="col-md-4 text-center mb-4">
          <img class="mb-3" src="../images/book.png" alt="book">
          <h3 class="mb-3 text-dark font-500 font-18">Book 24/76</h3>
          <p class="mb-3 text-lead">From bed, or the bus</p>
        </div>
        <div class="col-md-4 text-center mb-4">
          <img class="mb-3" src="../images/salon.png" alt="salon">
          <h3 class="mb-3 text-dark font-500 font-18">Choice of top-rated salons</h3>
          <p class="mb-3 text-lead">Thousands of venues (and reviews)</p>
        </div>
      </div>
    </div>
  </div>
  <div class="page-section">
    <div class="row">
      <div class="col text-center">
        <div class="app-card">
          <img src="../images/app-card.png" alt="app-card">
          <div class="app-card-body">
            <h5>Download our app</h5>
            <p>Aliquam in bibendum mauris. Sed vitae erat vel velit blandit pharetra vitae nec ante. Cras at est augue. Cras ut
              interdum elit. Ut malesuada a </p>
            <a href="./Home–5.html" class="btn  mona-lisa-background text-white shadow-none" style="width: 8rem;">Get it now</a>
          </div>
          <button class="btn btn-primary btn-lg mb-4">Get it now</button>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="footer-widget">
            <h3 class="widget-title">Navigation</h3>
            <div class="widget-content">
              <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="">Term & Conditions</a></li>
                <li><a href="">Policy</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="footer-widget">
            <h3 class="widget-title">Search</h3>
            <div class="widget-content">
              <div class="input-group md-form form-sm form-2 pl-0 mb-4">
                <input class="form-control my-0 py-1 red-border" type="text" placeholder="Search">
                <div class="input-group-append">
                  <span class="input-group-text red lighten-3" id="basic-text1">
                    <i class="material-icons">search</i>
                  </span>
                </div>
              </div>
            </div>
            <div class="social-media">
              <a href=""><img src="../images/twitter.png" alt="twitter"></a>
              <a href=""><img src="../images/facebook.png" alt="facebook"></a>
              <a href=""><img src="../images/twitter.png" alt="twitter"></a>
            </div>
            <div class="apps-button-group">
              <a href="#">
                <img src="../images/app-store.png" alt="app-store">
              </a>
              <a href="#">
                <img src="../images/play-store.png" alt="app-store">
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="footer-widget">
            <h3 class="widget-title">Latest Salon</h3>
            <div class="widget-content">
              <div class="row gallery">
                <div class="col-md-4">
                  <a href=""><img src="../images/mask.png" class="img-fluid" alt="mask"></a>
                </div>
                <div class="col-md-4">
                  <a href=""><img src="../images/mask1.png" class="img-fluid" alt="mask"></a>
                </div>
                <div class="col-md-4">
                  <a href=""><img src="../images/mask2.png" class="img-fluid" alt="mask"></a>
                </div>
                <div class="col-md-4">
                  <a href=""><img src="../images/mask3.png" class="img-fluid" alt="mask"></a>
                </div>
                <div class="col-md-4">
                  <a href=""><img src="../images/mask4.png" class="img-fluid" alt="mask"></a>
                </div>
                <div class="col-md-4">
                  <a href=""><img src="../images/mask5.png" class="img-fluid" alt="mask"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col bottom-footer mt-5">
          <p class="copy-right">
            © 2019 Pampr Limited
          </p>
        </div>
      </div>
    </div>
  </div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="../javascript/javascript.js"></script>
</body>
</html>
