<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home 3</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha256-UhQQ4fxEeABh4JrcmAJ1+16id/1dnlOEVCFOxDef9Lw=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha256-kksNxjDRxd/5+jGurZUJd1sdR2v+ClrCl3svESBaJqw=" crossorigin="anonymous" />
  <link rel="stylesheet" href="../style/dynamic-style.css">
  <link rel="stylesheet" href="../style/style.css">

</head>
<body>
  <div class="header">
    <div class="container">
      <nav class="navbar navbar-expand-md navbar-light">
        <a href="#" class="navbar-brand">
          <img src="../images/pamper-logo.png" alt="pamper-logo">
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
          <div class="navbar-nav">
            <a href="#" class="nav-item nav-link active">Home</a>
            <a href="#" class="nav-item nav-link">About Us</a>
            <a href="#" class="nav-item nav-link">News</a>
            <a href="#" class="nav-item nav-link">Contact Us</a>
            <a href="#" class="nav-item nav-link login-btn text-white">Login</a>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="eyelashes-listing-page">
    <div class="page-section">
      <div class="eyelashes-page-banner mt-4 d-flex align-items-center">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="treatment-card">
                <div class="search-wrapper">
                  <form>
                    <div class="input-group">
                      <span class="input-icon">
                        <img src="../images/magnifier-tool.png" alt="magnifier-tool">
                      </span>
                      <input type="text" name="focus" required class="search-box" placeholder="Enter search term" />
                      <button class="close-icon" type="reset"></button>
                    </div>
                    <div class="input-group">
                      <span class="input-icon">
                        <img src="../images/magnifier-tool.png" alt="magnifier-tool">
                      </span>
                      <input type="text" name="focus" required class="search-box" placeholder="Enter search term" />
                      <button class="close-icon" type="reset"></button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <label for="" class="mb-3 text-white font-500 font-16 text-uppercase">OUR TREATMENTS</label>
              <div class="d-flex justify-content-between">
                <button class="btn btn-white  btn-block mr-1"> <i class="material-icons align-middle"> search </i>Eye Brows</button>
                <button class="btn btn-white  btn-block ml-1 mt-0"> <i class="material-icons align-middle"> search </i>Eye Lashes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page-section">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="blog-card">
              <div class="card-carousel">
                <div class="owl-carousel">
                  <div>
                    <img src="../images/blog1.png" alt="">
                    <div class="blog-card-btn">
                      <button class="event-icon">
                        <i class="material-icons">
                          share
                        </i>
                      </button>
                      <button class="event-icon">
                        <i class="material-icons">
                          favorite_border
                        </i>
                      </button>
                    </div>
                  </div>
                  <div>
                    <img src="../images/blog2.png" alt="">
                    <div class="blog-card-btn">
                      <button class="event-icon">
                        <i class="material-icons">
                          share
                        </i>
                      </button>
                      <button class="event-icon">
                        <i class="material-icons">
                          favorite_border
                        </i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="b-card-body">
                <h2>Rebecca Marshall</h2>
                <div class="mb-3">
                  <div class="rating">
                    <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Meh">5 stars</label>
                    <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Kinda bad">4 stars</label>
                    <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Kinda bad">3 stars</label>
                    <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Sucks big tim">2 stars</label>
                    <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
                  </div>
                  <span >5.0</span>
                </div>
                <p class="text-lead font-300 mb-3">Proin ex ipsum, facilisis id tincidunt sed, vulputate in
                  lacus. Donec pharetra faucibus leo, vitae vestibulum leo...
                </p>
                <span class="review-counter">117 Reviews</span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="blog-card">
              <div class="card-carousel">
                <div class="owl-carousel">
                  <div>
                    <img src="../images/blog1.png" alt="">
                    <div class="blog-card-btn">
                      <button class="event-icon">
                        <i class="material-icons">
                          share
                        </i>
                      </button>
                      <button class="event-icon">
                        <i class="material-icons">
                          favorite_border
                        </i>
                      </button>
                    </div>
                  </div>
                  <div>
                    <img src="../images/blog2.png" alt="">
                    <div class="blog-card-btn">
                      <button class="event-icon">
                        <i class="material-icons">
                          share
                        </i>
                      </button>
                      <button class="event-icon">
                        <i class="material-icons">
                          favorite_border
                        </i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="b-card-body">
                <h2>Rebecca Marshall</h2>
                <div class="mb-3">
                  <div class="rating">
                    <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Meh">5 stars</label>
                    <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Kinda bad">4 stars</label>
                    <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Kinda bad">3 stars</label>
                    <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Sucks big tim">2 stars</label>
                    <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
                  </div>
                  <span >5.0</span>
                </div>
                <p class="text-lead font-300 mb-3">Proin ex ipsum, facilisis id tincidunt sed, vulputate in
                  lacus. Donec pharetra faucibus leo, vitae vestibulum leo...
                </p>
                <span class="review-counter">117 Reviews</span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="blog-card">
              <div class="card-carousel">
                <div class="owl-carousel">
                  <div>
                    <img src="../images/blog1.png" alt="">
                    <div class="blog-card-btn">
                      <button class="event-icon">
                        <i class="material-icons">
                          share
                        </i>
                      </button>
                      <button class="event-icon">
                        <i class="material-icons">
                          favorite_border
                        </i>
                      </button>
                    </div>
                  </div>
                  <div>
                    <img src="../images/blog2.png" alt="">
                    <div class="blog-card-btn">
                      <button class="event-icon">
                        <i class="material-icons">
                          share
                        </i>
                      </button>
                      <button class="event-icon">
                        <i class="material-icons">
                          favorite_border
                        </i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="b-card-body">
                <h2>Rebecca Marshall</h2>
                <div class="mb-3">
                  <div class="rating">
                    <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Meh">5 stars</label>
                    <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Kinda bad">4 stars</label>
                    <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Kinda bad">3 stars</label>
                    <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Sucks big tim">2 stars</label>
                    <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
                  </div>
                  <span >5.0</span>
                </div>
                <p class="text-lead font-300 mb-3">Proin ex ipsum, facilisis id tincidunt sed, vulputate in
                  lacus. Donec pharetra faucibus leo, vitae vestibulum leo...
                </p>
                <span class="review-counter">117 Reviews</span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="blog-card">
              <div class="card-carousel">
                <div class="owl-carousel">
                  <div>
                    <img src="../images/blog1.png" alt="">
                    <div class="blog-card-btn">
                      <button class="event-icon">
                        <i class="material-icons">
                          share
                        </i>
                      </button>
                      <button class="event-icon">
                        <i class="material-icons">
                          favorite_border
                        </i>
                      </button>
                    </div>
                  </div>
                  <div>
                    <img src="../images/blog2.png" alt="">
                    <div class="blog-card-btn">
                      <button class="event-icon">
                        <i class="material-icons">
                          share
                        </i>
                      </button>
                      <button class="event-icon">
                        <i class="material-icons">
                          favorite_border
                        </i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="b-card-body">
                <h2>Rebecca Marshall</h2>
                <div class="mb-3">
                  <div class="rating">
                    <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Meh">5 stars</label>
                    <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Kinda bad">4 stars</label>
                    <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Kinda bad">3 stars</label>
                    <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Sucks big tim">2 stars</label>
                    <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
                  </div>
                  <span >5.0</span>
                </div>
                <p class="text-lead font-300 mb-3">Proin ex ipsum, facilisis id tincidunt sed, vulputate in
                  lacus. Donec pharetra faucibus leo, vitae vestibulum leo...
                </p>
                <span class="review-counter">117 Reviews</span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="blog-card">
              <div class="card-carousel">
                <div class="owl-carousel">
                  <div>
                    <img src="../images/blog1.png" alt="">
                    <div class="blog-card-btn">
                      <button class="event-icon">
                        <i class="material-icons">
                          share
                        </i>
                      </button>
                      <button class="event-icon">
                        <i class="material-icons">
                          favorite_border
                        </i>
                      </button>
                    </div>
                  </div>
                  <div>
                    <img src="../images/blog2.png" alt="">
                    <div class="blog-card-btn">
                      <button class="event-icon">
                        <i class="material-icons">
                          share
                        </i>
                      </button>
                      <button class="event-icon">
                        <i class="material-icons">
                          favorite_border
                        </i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="b-card-body">
                <h2>Rebecca Marshall</h2>
                <div class="mb-3">
                  <div class="rating">
                    <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Meh">5 stars</label>
                    <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Kinda bad">4 stars</label>
                    <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Kinda bad">3 stars</label>
                    <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Sucks big tim">2 stars</label>
                    <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
                  </div>
                  <span >5.0</span>
                </div>
                <p class="text-lead font-300 mb-3">Proin ex ipsum, facilisis id tincidunt sed, vulputate in
                  lacus. Donec pharetra faucibus leo, vitae vestibulum leo...
                </p>
                <span class="review-counter">117 Reviews</span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="blog-card">
              <div class="card-carousel">
                <div class="owl-carousel">
                  <div>
                    <img src="../images/blog1.png" alt="">
                    <div class="blog-card-btn">
                      <button class="event-icon">
                        <i class="material-icons">
                          share
                        </i>
                      </button>
                      <button class="event-icon">
                        <i class="material-icons">
                          favorite_border
                        </i>
                      </button>
                    </div>
                  </div>
                  <div>
                    <img src="../images/blog2.png" alt="">
                    <div class="blog-card-btn">
                      <button class="event-icon">
                        <i class="material-icons">
                          share
                        </i>
                      </button>
                      <button class="event-icon">
                        <i class="material-icons">
                          favorite_border
                        </i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="b-card-body">
                <h2>Rebecca Marshall</h2>
                <div class="mb-3">
                  <div class="rating">
                    <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Meh">5 stars</label>
                    <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Kinda bad">4 stars</label>
                    <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Kinda bad">3 stars</label>
                    <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Sucks big tim">2 stars</label>
                    <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
                  </div>
                  <span >5.0</span>
                </div>
                <p class="text-lead font-300 mb-3">Proin ex ipsum, facilisis id tincidunt sed, vulputate in
                  lacus. Donec pharetra faucibus leo, vitae vestibulum leo...
                </p>
                <span class="review-counter">117 Reviews</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="footer-widget">
            <h3 class="widget-title">Navigation</h3>
            <div class="widget-content">
              <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="">Term & Conditions</a></li>
                <li><a href="">Policy</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="footer-widget">
            <h3 class="widget-title">Search</h3>
            <div class="widget-content">
              <div class="input-group md-form form-sm form-2 pl-0 mb-4">
                <input class="form-control my-0 py-1 red-border" type="text" placeholder="Search">
                <div class="input-group-append">
                    <span class="input-group-text red lighten-3" id="basic-text1">
                      <i class="material-icons">search</i>
                    </span>
                </div>
              </div>
            </div>
            <div class="social-media">
              <a href=""><img src="../images/twitter.png" alt="twitter"></a>
              <a href=""><img src="../images/facebook.png" alt="facebook"></a>
              <a href=""><img src="../images/twitter.png" alt="twitter"></a>
            </div>
            <div class="apps-button-group">
              <a href="#">
                <img src="../images/app-store.png" alt="app-store">
              </a>
              <a href="#">
                <img src="../images/play-store.png" alt="app-store">
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="footer-widget">
            <h3 class="widget-title">Latest Salon</h3>
            <div class="widget-content">
              <div class="row gallery">
                <div class="col-md-4">
                  <a href=""><img src="../images/mask.png" class="img-fluid" alt="mask"></a>
                </div>
                <div class="col-md-4">
                  <a href=""><img src="../images/mask1.png" class="img-fluid" alt="mask"></a>
                </div>
                <div class="col-md-4">
                  <a href=""><img src="../images/mask2.png" class="img-fluid" alt="mask"></a>
                </div>
                <div class="col-md-4">
                  <a href=""><img src="../images/mask3.png" class="img-fluid" alt="mask"></a>
                </div>
                <div class="col-md-4">
                  <a href=""><img src="../images/mask4.png" class="img-fluid" alt="mask"></a>
                </div>
                <div class="col-md-4">
                  <a href=""><img src="../images/mask5.png" class="img-fluid" alt="mask"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col bottom-footer mt-5">
          <p class="copy-right">
            © 2019 Pampr Limited
          </p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha256-pTxD+DSzIwmwhOqTFN+DB+nHjO4iAsbgfyFq5K5bcE0=" crossorigin="anonymous"></script>
  <script>
    $(document).ready(function(){
      $(".owl-carousel").owlCarousel({
        loop:true,
        nav: true,
        dot:true,
        responsive:{
          0:{
            items:1
          },
          600:{
            items:1
          },
          1000:{
            items:1
          }
        }
      });
    });
  </script>
</body>
</html>
