<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Policy page - screen 25</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha256-UhQQ4fxEeABh4JrcmAJ1+16id/1dnlOEVCFOxDef9Lw=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha256-kksNxjDRxd/5+jGurZUJd1sdR2v+ClrCl3svESBaJqw=" crossorigin="anonymous" />

    <link rel="stylesheet" href="../style/pre-style.css">
    <link rel="stylesheet" href="../style/dynamic-style.css">
    <link rel="stylesheet" href="../style/style.css">
  </head>
  <body>
    <div class="header">
      <div class="container">
        <nav class="navbar navbar-expand-md navbar-light">
          <a href="#" class="navbar-brand">
            <img src="../images/pamper-logo.png" alt="pamper-logo">
          </a>
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
            <div class="navbar-nav">
              <a href="#" class="nav-item nav-link active">Home</a>
              <a href="#" class="nav-item nav-link">About Us</a>
              <a href="#" class="nav-item nav-link">News</a>
              <a href="#" class="nav-item nav-link">Contact Us</a>
              <a href="#" class="nav-item nav-link login-btn text-white">Login</a>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div class="tabular-page">
      <div class="container mb-5">
        <div class="row pt-5">
          <div class="col-sm-12 col-md-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link tabular-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home"
                 aria-selected="true">About Us</a>
              <a class="nav-link tabular-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile"
                 aria-selected="false">Privacy Policy</a>
              <a class="nav-link tabular-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
                 aria-controls="v-pills-messages" aria-selected="false">Terms & Conditions</a>
              <a class="nav-link tabular-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
                 aria-controls="v-pills-settings" aria-selected="false">Contact</a>
            </div>
          </div>
          <div class="col-sm-12 col-md-9">
            <div class="tab-content" id="v-pills-tabContent">
              <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <h1 class="tabular-title">
                  About Us
                </h1>
                <div class="tab-content-section">
                  <p>
                    isi blandit magna, quis scelerisque ipsum lectus ut libero.
                    Sed elit diam, dignissim ac congue quis, aliquam in purus. Proin ligula
                    nulla, scelerisque quis venenatis pulvinar, congue eget neque. Proin scelerisque metus
                    sit amet dolor tempor vehicula. Sed laoreet quis
                    velit vitae facilisis. Duis ut sapien eu urna laoreet maximus. Donec nibh diam, vulputate
                    vel nulla ut, viverra congue turpis. Fusce
                    co
                  </p>
                  <p>
                    velit vitae facilisis. Duis ut sapien eu urna laoreet maximus. Donec nibh diam, vulputate
                    vel nulla ut, viverra congue turpis. Fusce
                  </p>
                  <div class="video-player mt-5">
                    <iframe width="100%" height="354" src="https://www.youtube.com/embed/csV1z-p9acQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <hr class="mt-5">
                </div>
                <div class="tab-content-section">
                  <h2 class="secondary-title">
                    Get to know us
                  </h2>
                  <p>
                    Vivamus eget aliquam dui. Integer eu arcu vel arcu suscipit ultrices quis non mauris.
                  </p>
                  <hr class="mt-5">
                  <h2 class="secondary-title">
                    How it works?
                  </h2>
                  <p>
                    See how easy it is to book therapst with the Pampr mobile app!
                  </p>

                  <div class="bg-gray mt-5 p-4">
                    <h2>
                      Phasellus finibus
                    </h2>
                    <p>
                      isi blandit magna, quis scelerisque ipsum lectus ut libero.
                      Sed elit diam, dignissim ac congue quis, aliquam in purus. Proin ligula
                      nulla, scelerisque quis venenatis pulvinar, congue eget neque. Proin scelerisque metus
                      sit amet dolor tempor vehicula. Sed laoreet quis
                      velit vitae facilisis. Duis ut sapien eu urna laoreet maximus. Donec nibh diam, vulputate
                      vel nulla ut, viverra congue turpis. Fusce
                      co
                    </p>
                    <h2>
                      Phasellus finibus
                    </h2>
                    <p>
                      isi blandit magna, quis scsa elerisque ipsusam lectus ut libero.
                      Sed elit diam, dignisssa im ac congue quis, aliq sauam in purus. Proin ligula
                      nulla, scelerisque quis venenatis pulvinar, congue eget neque. Proin scelerisque metus
                      sit amet dolor tempor vehicula. Sed laoreet quis
                      velit vitae  asa facilisis. Duisas ut sapien eu urna las aoreet maximus. Donec nibh diam, vulputate
                      vel nulla ut, viverra congue turpis. Fusce
                      co
                    </p>
                    <h2>
                      Phasellus finibus
                    </h2>
                    <p>
                      isi blandit magna, quis scelerisque ipsum lectus ut libero.
                      Sed elit diam, dignissim saa  ac congue quis, aliquam in purus. Proin ligula
                      nulla, scelerisque quis venenatis pulvinar, congue eget neque. Proin scelerisque metus
                      sit amet dolor tempor vehicula. Sed laoreet quis
                      velit vitae facilisis. Duis ut sapien eu urna laoreet maximus. Donec nibh diam, vulputate
                      vel nulla ut, viverra congue turpis. Fusce
                      co
                    </p>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <h1 class="tabular-title">
                  Policies
                </h1>
                <div class="tab-content-section">
                  <h2>
                    Mauris neque nisi faucibus
                  </h2>
                  <p>
                    isi blandit magna, quis scelerisque ipsum lectus ut libero.
                    Sed elit diam, dignissim ac congue quis, aliquam in purus. Proin ligula
                    nulla, scelerisque quis venenatis pulvinar, congue eget neque. Proin scelerisque metus
                    sit amet dolor tempor vehicula. Sed laoreet quis
                    velit vitae facilisis. Duis ut sapien eu urna laoreet maximus. Donec nibh diam, vulputate
                    vel nulla ut, viverra congue turpis. Fusce
                    co
                  </p>
                  <p>
                    velit vitae facilisis. Duis ut sapien eu urna laoreet maximus. Donec nibh diam, vulputate
                    vel nulla ut, viverra congue turpis. Fusce
                  </p>
                  <p>
                    isi blandit magna, quis scelerisque ipsum lectus ut libero.
                    Sed elit diam, dignissim ac congue quis, aliquam in purus. Proin ligula
                    nulla, scelerisque quis venenatis pulvinar, congue eget neque. Proin scelerisque metus
                    sit amet dolor tempor vehicula. Sed laoreet quis
                    co
                  </p>
                </div>
              </div>
              <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                <h1 class="tabular-title">
                  Terms and Conditions
                </h1>
                <div class="tab-content-section">
                  <h2>
                    Mauris neque nisi faucibus
                  </h2>
                  <p>
                    isi blandit magna, quis scelerisque ipsum lectus ut libero.
                    Sed elit diam, dignissim ac congue quis, aliquam in purus. Proin ligula
                    nulla, scelerisque quis venenatis pulvinar, congue eget neque. Proin scelerisque metus
                    sit amet dolor tempor vehicula. Sed laoreet quis
                    velit vitae facilisis. Duis ut sapien eu urna laoreet maximus. Donec nibh diam, vulputate
                    vel nulla ut, viverra congue turpis. Fusce
                    co
                  </p>
                  <p>
                    velit vitae facilisis. Duis ut sapien eu urna laoreet maximus. Donec nibh diam, vulputate
                    vel nulla ut, viverra congue turpis. Fusce
                  </p>
                  <ul>
                    <li>
                      Vivamus eget aliquam dui. Integer eu arcu vel arcu suscipit ultrices quis non mauris.
                      Aenean scelerisque, sem eu dictum commodo.
                    </li>
                    <li>
                      Vivamus eget aliquam dui. Integer eu arcu vel arcu suscipit ultrices quis non mauris.
                      Aenean scelerisque, sem eu dictum commodo.
                    </li>
                    <li>
                      Vivamus eget aliquam dui. Integer eu arcu vel arcu suscipit ultrices quis non mauris.
                      Aenean scelerisque, sem eu dictum commodo.
                    </li>
                  </ul>
                  <p>
                    isi blandit magna, quis scelerisque ipsum lectus ut libero.
                    Sed elit diam, dignissim ac congue quis, aliquam in purus. Proin ligula
                    nulla, scelerisque quis venenatis pulvinar, congue eget neque. Proin scelerisque metus
                    sit amet dolor tempor vehicula. Sed laoreet quis
                    co
                  </p>

                </div>

              </div>
              <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                <h1 class="tabular-title">
                  Contact
                </h1>
                <div class="p-3">
                  <h2 class="font-20 mb-4">
                    Support
                  </h2>
                  <p style="color: #FF9797;" class="mb-3">support@pampr.com</p>
                  <p style="color: #FF9797;" class="mb-3">(770)320-6727</p>
                </div>
                <hr>
                <form class="custom-from">
                  <div class="row">
                    <div class="col-md-6">
                      <h5 class="py-2">Full name</h5>
                      <div class="input-group mb-4">
                        <input class="form-control border" type="search" placeholder="Full name">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <h5 class="py-2"> Email</h5>
                      <div class="input-group mb-4">
                        <input class="form-control border" type="email" placeholder="Email">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <h5 class="py-2"> Questions or comments</h5>
                      <div class="input-group mb-4">
                        <textarea class="form-control border" name="" id="" cols="30" rows="10"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="text-right">
                    <button class="btn btn-primary btn-lg">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="footer-widget">
              <h3 class="widget-title">Navigation</h3>
              <div class="widget-content">
                <ul>
                  <li><a href="">Home</a></li>
                  <li><a href="">About Us</a></li>
                  <li><a href="">Contact Us</a></li>
                  <li><a href="">Term & Conditions</a></li>
                  <li><a href="">Policy</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="footer-widget">
              <h3 class="widget-title">Search</h3>
              <div class="widget-content">
                <div class="input-group md-form form-sm form-2 pl-0 mb-4">
                  <input class="form-control my-0 py-1 red-border" type="text" placeholder="Search">
                  <div class="input-group-append">
                          <span class="input-group-text red lighten-3" id="basic-text1">
                            <i class="material-icons">search</i>
                          </span>
                  </div>
                </div>
              </div>
              <div class="social-media">
                <a href=""><img src="../images/twitter.png" alt="twitter"></a>
                <a href=""><img src="../images/facebook.png" alt="facebook"></a>
                <a href=""><img src="../images/twitter.png" alt="twitter"></a>
              </div>
              <div class="apps-button-group">
                <a href="#">
                  <img src="../images/app-store.png" alt="app-store">
                </a>
                <a href="#">
                  <img src="../images/play-store.png" alt="app-store">
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="footer-widget">
              <h3 class="widget-title">Latest Salon</h3>
              <div class="widget-content">
                <div class="row gallery">
                  <div class="col-md-4">
                    <a href=""><img src="../images/mask.png" class="img-fluid" alt="mask"></a>
                  </div>
                  <div class="col-md-4">
                    <a href=""><img src="../images/mask1.png" class="img-fluid" alt="mask"></a>
                  </div>
                  <div class="col-md-4">
                    <a href=""><img src="../images/mask2.png" class="img-fluid" alt="mask"></a>
                  </div>
                  <div class="col-md-4">
                    <a href=""><img src="../images/mask3.png" class="img-fluid" alt="mask"></a>
                  </div>
                  <div class="col-md-4">
                    <a href=""><img src="../images/mask4.png" class="img-fluid" alt="mask"></a>
                  </div>
                  <div class="col-md-4">
                    <a href=""><img src="../images/mask5.png" class="img-fluid" alt="mask"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col bottom-footer mt-5">
            <p class="copy-right">
              © 2019 Pampr Limited
            </p>
          </div>
        </div>
      </div>
    </div>
  <!-- bootstrap -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>
  <!-- select2 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

  <!-- select2-bootstrap4-theme -->
  <script src="./js/script.js"></script>
  </body>
</html>
