<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pamper</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="../style/dynamic-style.css">
  <link rel="stylesheet" href="../style/style.css">

</head>
<body>
<!--header start-->
<div class="header">
  <div class="container">
    <nav class="navbar navbar-expand-md navbar-light">
      <a href="#" class="navbar-brand">
        <img src="../images/pamper-logo.png" alt="pamper-logo">
      </a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
        <div class="navbar-nav">
          <a href="#" class="nav-item nav-link active">Home</a>
          <a href="#" class="nav-item nav-link">Profile</a>
          <a href="#" class="nav-item nav-link login-btn text-white d-none">Login</a>
        </div>
      </div>
    </nav>
  </div>
</div>
<!--header end-->
<div class="container">
  <div class="row position-relative">
    <div class="col-12 tab-row"></div>
    <div class="col-md-3">
      <div class="user-card">
        <img class="img-fluid" src="../images/user-dp.png" alt="">
        <h2>Lori Meyer</h2>
        <p class="gender">
          Female
        </p>
        <button class="btn btn-secondary btn-block text-uppercase">Edit my profile</button>
        <div class="user-card-footer">
          <a class="login-info" href="">Login Info</a>
          <a class="mail-link" href="">beatrice.smith@mail.com</a>
          <a class="reset-pass" href="">Reset Password</a>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <ul class="nav nav-tabs parent-tab" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="ml-0 nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Payment Method</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade" id="home" role="tabpanel">
          <ul class="nav nav-tabs child-tab bold-border" id="BookingsTab" role="tablist">
            <li class="nav-item">
              <a class="ml-0 nav-link active" id="Upcoming-tab" data-toggle="tab" href="#Upcoming" role="tab" aria-controls="home" aria-selected="true">Upcoming bookings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="previous-tab" data-toggle="tab" href="#previous" role="tab" aria-controls="profile" aria-selected="false">Previous bookings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="cancelled-tab" data-toggle="tab" href="#cancelled" role="tab" aria-controls="contact" aria-selected="false">Cancelled bookings</a>
            </li>
          </ul>
          <div class="tab-content" id="BookingsTabContent">
            <div class="tab-pane fade show active" id="Upcoming" role="tabpanel" aria-labelledby="home-tab">
              <div class="booking-details">
                <div class="container">
                  <!--                    order refer header-->
                  <div class="row bold-border mb-4">
                    <div class="col d-flex align-items-center py-3 pl-2 pl-lg-0">
                      <div class="navigate-icon p-1">
                        <button class="btn p-0">
                          <i class="material-icons flex-shrink-1">
                            keyboard_backspace
                          </i>
                        </button>
                      </div>
                      <div class="w-100 text-center">
                        <h3 class="booking-destination">Order ref. T335061270</h3>
                        <p>Placed 2 October 2019, 12:50 PM</p>
                      </div>
                    </div>
                  </div>
                  <!--                    order refer Details start-->
                  <div class="row">
                    <div class="col-md-6">
                      <div class="dotted-border-b text-center mb-3">
                        <h3 class="booking-info-title mb-3">Therapist</h3>
                      </div>
                      <!--                        user-rating-card-->
                      <div class="user-rating-card dotted-border-b mb-3">
                        <div class="media">
                          <img class="mr-3" src="../images/user-rating.png" alt="user-rating">
                          <div class="media-body align-self-center">
                            <h5 class="mt-0">Carmen Brewer</h5>
                            <div class="rating">
                              <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Meh">5 stars</label>
                              <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Kinda bad">4 stars</label>
                              <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Kinda bad">3 stars</label>
                              <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Sucks big tim">2 stars</label>
                              <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
                            </div>
                            <span >5.0</span>
                          </div>
                        </div>
                      </div>
                      <div class="address-text">
                        <label for="">Address</label>
                        <p>80a Barnes Hill, Birmingham, B295UW United Kingdom</p>
                      </div>
                      <!--                        Payment details-->
                      <div class="dotted-border-b text-center mb-3">
                        <h3 class="booking-info-title mb-3">Payment details</h3>
                      </div>
                      <ul class="payment-detail-list">
                        <li class="dotted-border-b">
                          <span class="payment-title">Order total</span>
                          <span class="payment-value">£ 30</span>
                        </li>
                        <li class="dotted-border-b">
                          <span class="payment-title">Pay at venue</span>
                          <span class="payment-value">£ 30</span>
                        </li>
                      </ul>
                    </div>
                    <!--                      Appointment Details-->
                    <div class="col-md-6">
                      <div class="dotted-border-b text-center mb-3">
                        <h3 class="booking-info-title mb-3">Appointment Details</h3>
                      </div>
                      <div class="container">
                        <div class="row border-between appointment-time dotted-border-b mb-4">
                          <div class="col-md-6 mb-3">
                            <h3>2:30 PM</h3>
                          </div>
                          <div class="col-md-6 mb-3">
                            <p>4 October</p>
                            <p>Friday</p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col text-center mb-4">
                            <button class="btn btn-primary btn-lg mr-0 mr-md-3">HOME VISIT</button>
                            <button class="btn btn-light btn-lg">SALON VISIT</button>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 map-widget mb-4">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d54442.05929553671!2d74.2998016!3d31.479398400000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1577701522951!5m2!1sen!2s" width="100%" height="240" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                          </div>
                          <div class="col-12">
                            <p class="change-plane">
                              Plans changed? <a data-toggle="modal" data-target="#exampleModal" class="link" href="#">Cancel</a> your order
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="previous" role="tabpanel">previous</div>
            <div class="tab-pane fade" id="cancelled" role="tabpanel">cancelled</div>
          </div>
        </div>
        <div class="tab-pane fade show active" id="profile" role="tabpanel">
          <div class="mt-5 mb-5 pb-4 thin-border">
            <div class="row">
              <div class="col-md-3">
                <div class="payment-card mini-card">
                  <div>
                    <img style="width: 78px; height: 24px;" src="../images/paypal.png" alt="">
                  </div>
                  <div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="paypalCheck" name="example1">
                      <label class="custom-control-label" for="paypalCheck"></label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="payment-card mini-card">
                  <div>
                    <img style="width: 56px; height: 29px;" src="../images/apple-pay.png" alt="">
                  </div>
                  <div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="appleCheck" name="example1">
                      <label class="custom-control-label" for="appleCheck"></label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="payment-card mini-card">
                  <div>
                    <img style="width: 31px; height: 21px;" src="../images/credit-card.png" alt="">
                  </div>
                  <div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="creditCardCheck" name="example1">
                      <label class="custom-control-label" for="creditCardCheck"></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <form action="" class="custom-from">
            <div class="row">
              <div class="col-md-6">
                <h5 class="py-2"> Account Number</h5>
                <div class="input-group mb-4">
                  <input class="form-control border" type="search" placeholder="search" id="example-search-input">
                  <span class="input-group-append">
                    <i class="material-icons">
                          credit_card
                        </i>
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <h5 class="py-2"> Expiry</h5>
                <div class="input-group mb-4">
                  <input class="form-control border" type="search" placeholder="search" id="example-search-input">
                  <span class="input-group-append">
                    <i class="material-icons">
                          credit_card
                        </i>
                  </span>
                </div>
              </div>
              <div class="col-md-3">
                <h5 class="py-2"> CVV</h5>
                <div class="input-group mb-4">
                  <input class="form-control border" type="search" placeholder="search" id="example-search-input">
                  <span class="input-group-append">
                    <i class="material-icons">
                          lock
                        </i>
                  </span>
                </div>
              </div>
            </div>
          </form>
          <div class="row">
            <div class="col mb-4 mt-4">
              <button class="btn btn-primary btn-lg mr-0 mr-md-3">Authorize</button>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel">C</div>
      </div>
    </div>
  </div>
</div>
<!--footer start-->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="footer-widget">
          <h3 class="widget-title">Navigation</h3>
          <div class="widget-content">
            <ul>
              <li><a href="">Home</a></li>
              <li><a href="">About Us</a></li>
              <li><a href="">Contact Us</a></li>
              <li><a href="">Term & Conditions</a></li>
              <li><a href="">Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="footer-widget">
          <h3 class="widget-title">Search</h3>
          <div class="widget-content">
            <div class="input-group md-form form-sm form-2 pl-0 mb-4">
              <input class="form-control my-0 py-1 red-border" type="text" placeholder="Search">
              <div class="input-group-append">
                <span class="input-group-text red lighten-3" id="basic-text1">
                  <i class="material-icons">search</i>
                </span>
              </div>
            </div>
          </div>
          <div class="social-media">
            <a href=""><img src="../images/twitter.png" alt="twitter"></a>
            <a href=""><img src="../images/facebook.png" alt="facebook"></a>
            <a href=""><img src="../images/twitter.png" alt="twitter"></a>
          </div>
          <div class="apps-button-group">
            <a href="#">
              <img src="../images/app-store.png" alt="app-store">
            </a>
            <a href="#">
              <img src="../images/play-store.png" alt="app-store">
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="footer-widget">
          <h3 class="widget-title">Latest Salon</h3>
          <div class="widget-content">
            <div class="row gallery">
              <div class="col-md-4">
                <a href=""><img src="../images/mask.png" class="img-fluid" alt="mask"></a>
              </div>
              <div class="col-md-4">
                <a href=""><img src="../images/mask1.png" class="img-fluid" alt="mask"></a>
              </div>
              <div class="col-md-4">
                <a href=""><img src="../images/mask2.png" class="img-fluid" alt="mask"></a>
              </div>
              <div class="col-md-4">
                <a href=""><img src="../images/mask3.png" class="img-fluid" alt="mask"></a>
              </div>
              <div class="col-md-4">
                <a href=""><img src="../images/mask4.png" class="img-fluid" alt="mask"></a>
              </div>
              <div class="col-md-4">
                <a href=""><img src="../images/mask5.png" class="img-fluid" alt="mask"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col bottom-footer mt-5">
        <p class="copy-right">
          © 2019 Pampr Limited
        </p>
      </div>
    </div>
  </div>
</div>
<!--footer end-->

<!--Remove booking modal start-->
<div class="modal fade remove-booking-modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <p>Do you really want to remove your booking?</p>
        <div class="cancel-fee d-flex justify-content-around">
          <span>Cancellation fee</span>
          <span>£ 30</span>
        </div>
        <div class="row cancel-modal-footer border-between">
          <div class="col-md-6">
            <a class="" data-dismiss="modal">Cancel</a>
          </div>
          <div class="col-md-6">
            <a class="">confirm</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Remove booking modal end-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
