<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Therapist about 12</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha256-UhQQ4fxEeABh4JrcmAJ1+16id/1dnlOEVCFOxDef9Lw=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha256-kksNxjDRxd/5+jGurZUJd1sdR2v+ClrCl3svESBaJqw=" crossorigin="anonymous" />

  <link rel="stylesheet" href="../style/pre-style.css">
  <link rel="stylesheet" href="../style/dynamic-style.css">
  <link rel="stylesheet" href="../style/style.css">
</head>

<body>
<div class="header">
  <div class="container">
    <nav class="navbar navbar-expand-md navbar-light">
      <a href="#" class="navbar-brand">
        <img src="../images/pamper-logo.png" alt="pamper-logo">
      </a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
        <div class="navbar-nav">
          <a href="#" class="nav-item nav-link active">Home</a>
          <a href="#" class="nav-item nav-link">About Us</a>
          <a href="#" class="nav-item nav-link">News</a>
          <a href="#" class="nav-item nav-link">Contact Us</a>
          <a href="#" class="nav-item nav-link login-btn text-white">Login</a>
        </div>
      </div>
    </nav>
  </div>
</div>
<div id="body" class="salon-page">
  <div class="container">
<!--Carousel Wrapper Start-->
    <div class="">
      <div class="banner-carousel owl-carousel">
        <div>
          <img class="img-fluid"
               src="../images/Mask%20Group%20195.png" alt="Card image cap">
        </div>
        <div>
          <img class="img-fluid"
               src="../images/Mask%20Group%20197.png"
               alt="Card image cap">
        </div>
      </div>
    </div>

    <div class="container-saloon-img1">
      <img src="../images/Path%20359.png" class="saloon-carasoul-caption-img1-query img-fluid saloon-carasoul-caption-img1">
      <div class="saloon-top-left">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h2>Serenity Salon</h2>
            <p>881 Homestead St. Corpus Christi, TX 78418n</p>
            <button class="btn btn-primary" data-toggle="modal" data-target="#salon">Home & Salon Visit</button>
          </div>
          <div class="col-sm-12 col-md-6 ">
            <div class="float-md-right float-sm-left">
              <div class="d-flex flex-column justify-content-start">
                <div class="d-flex flex-row justify-content-start">
                  <div>
                    <div class="mb-1 d-flex justify-content-between align-items-center">
                      <h3 class="mb-0 pr-3" style="font-size: 34px;color: #FF9797;">
                        5.0
                      </h3>
                      <div class="rating">
                        <input type="radio" id="star5" name="rating" value="5"><label for="star5" title="Meh">5 stars</label>
                        <input type="radio" id="star4" name="rating" value="4"><label for="star4" title="Kinda bad">4 stars</label>
                        <input type="radio" id="star3" name="rating" value="3"><label for="star3" title="Kinda bad">3 stars</label>
                        <input type="radio" id="star2" name="rating" value="2"><label for="star2" title="Sucks big tim">2 stars</label>
                        <input type="radio" id="star1" name="rating" value="1"><label for="star1" title="Sucks big time">1 star</label>
                      </div>
                    </div>
                    <p class=" ml-2 text-right" style="color: #707070;font-size: 14px;">104 Reviews</p>
                  </div>
                </div>
                <div class="text-sm-left text-md-right">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--Carousel Wrapper End-->

<!--    tab Start-->
    <div class="row pt-5 pb-5 mb-5">
      <div class="col-sm-12 col-md-7">
        <ul class="nav nav-tabs therapists-nav-navtab" id="myTab" role="tablist">
          <li class="nav-item pl-5 pr-5 ">
            <a class="nav-link therapists-navlink pb-2 active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
          </li>
          <li class="nav-item pr-5 pl-5 pb-2">
            <a class="nav-link therapists-navlink pb-2" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Reviews</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div>
              <h4 class="mt-4 font-24 mb-4">
                Marilyn Hudson
              </h4>
              <p class="text-lead">
                Vivamus eget aliquam dui. Integer eu arcu vel arcu suscipit ultrices quis non mauris. Aenean scelerisque, sem eu dictum commodo, velit
                nisi blandit magna, quis scelerisque ipsum klj lectus ut libero. Sed elit diam, dignissim bhdfk congue quis, aliquam in purus. Proin
                ligula kjgh nulla, scelerisque quis venenatis pulvinar, congue eget neque. Proin scelerisque metus sit amet dolor tempor vehicula. Sed
                laoreet quis velit vitae facilisis. Duis ut sapien eu urna laoreet maximus. Donec nibh diam, vulputate vel nulla ut.
              </p>
            </div>
            <div>
              <h4 class="mt-4 font-24 mb-4">
                Marilyn Hudson
              </h4>
              <div class="opening-hours">
                <ul>
                  <li>
                    <div>Monday</div>
                    <div><span>9:00 AM </span> - <span>8:00 PM</span></div>
                  </li>
                  <li>
                    <div>Monday</div>
                    <div><span>9:00 AM </span> - <span>8:00 PM</span></div>
                  </li>
                  <li>
                    <div>Monday</div>
                    <div><span>9:00 AM </span> - <span>8:00 PM</span></div>
                  </li>
                  <li>
                    <div>Monday</div>
                    <div><span>9:00 AM </span> - <span>8:00 PM</span></div>
                  </li>
                  <li>
                    <div>Monday</div>
                    <div><span>9:00 AM </span> - <span>8:00 PM</span></div>
                  </li>
                  <li>
                    <div>Monday</div>
                    <div><span>9:00 AM </span> - <span>8:00 PM</span></div>
                  </li>
                  <li>
                    <div>Sunday</div>
                    <div><span>Close</span></div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row">
              <div class="col mb-5 mt-4">
                <div class="d-flex align-items-center">
                  <div class="mr-3">
                    <h3 class="mb-0" style="font-size: 48px;">5.0</h3>
                  </div>
                  <div>
                    <div class="rating mb-1">
                      <input type="radio" id="star5" name="rating" value="5"><label for="star5" title="Meh">5 stars</label>
                      <input type="radio" id="star4" name="rating" value="4"><label for="star4" title="Kinda bad">4 stars</label>
                      <input type="radio" id="star3" name="rating" value="3"><label for="star3" title="Kinda bad">3 stars</label>
                      <input type="radio" id="star2" name="rating" value="2"><label for="star2" title="Sucks big tim">2 stars</label>
                      <input type="radio" id="star1" name="rating" value="1"><label for="star1" title="Sucks big time">1 star</label>
                    </div>
                    <p class="mb-0" style="color: #7D7D7D;">104 reviews</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row pt-2 pb-2">
              <div class="col">
                <div class="comment-card" style="">
                  <div class="card-body">
                    <div class="d-flex flex-row justify-content-between">
                      <div class="user-rating-card mb-0">
                        <div class="media">
                          <img class="mr-3 rounded-circle" src="../images/user-rating.png" alt="user-rating">
                          <div class="media-body align-self-center">
                            <h5 class="mt-0 font-18 font-500">Carmen Brewer</h5>
                            <div class="rating">
                              <input type="radio" id="star5" name="rating" value="5"><label for="star5" title="Meh">5 stars</label>
                              <input type="radio" id="star4" name="rating" value="4"><label for="star4" title="Kinda bad">4 stars</label>
                              <input type="radio" id="star3" name="rating" value="3"><label for="star3" title="Kinda bad">3 stars</label>
                              <input type="radio" id="star2" name="rating" value="2"><label for="star2" title="Sucks big tim">2 stars</label>
                              <input type="radio" id="star1" name="rating" value="1"><label for="star1" title="Sucks big time">1 star</label>
                            </div>
                            <span class="font-500">5.0</span>
                          </div>
                        </div>
                      </div>
                      <div>
                        <p class="text-lead">3 Mar, 19</p>
                      </div>
                    </div>
                    <p class="mb-0 pt-2 pb-2" style="color: #6A6A6A;">Maecenas interdum lorem eleifend orciquam. mollis. Aliquam non rhoncus magna. ofjp0 of
                      Suspendisse aliquet tincidunt enim, ut .lcommodo
                      elit feugiat et. Maecenas nec enim quis diam faucibus tristique. Nam fermentum, ipsum in suscipit pharetra, mi odio aliquet neque, non
                      iaculis augue elit et libero. Phasellus tempor faucibus faucibus. Sed eu mauris sem. Etiam et varius felis. Donec et libero vitae
                      mauris consectetur egestas. Fusce aliquet, augue non efficitur sodales, turpis nisl consectetur sem, at rutrum lectus libero quis elit.
                      Suspendisse cursus laoreet sapien, in lobortis justo posuere vitae. Aliquam commodo posuere tellus in lacinia. Nullam ac eleifend odio.
                      Donec aliquam semper tellus a condimentum.</p>
                  </div>
                </div>
                <div class="comment-card" style="">
                  <div class="card-body">
                    <div class="d-flex flex-row justify-content-between">
                      <div class="user-rating-card mb-0">
                        <div class="media">
                          <img class="mr-3 rounded-circle" src="../images/user-rating.png" alt="user-rating">
                          <div class="media-body align-self-center">
                            <h5 class="mt-0 font-18 font-500">Carmen Brewer</h5>
                            <div class="rating">
                              <input type="radio" id="star5" name="rating" value="5"><label for="star5" title="Meh">5 stars</label>
                              <input type="radio" id="star4" name="rating" value="4"><label for="star4" title="Kinda bad">4 stars</label>
                              <input type="radio" id="star3" name="rating" value="3"><label for="star3" title="Kinda bad">3 stars</label>
                              <input type="radio" id="star2" name="rating" value="2"><label for="star2" title="Sucks big tim">2 stars</label>
                              <input type="radio" id="star1" name="rating" value="1"><label for="star1" title="Sucks big time">1 star</label>
                            </div>
                            <span class="font-500">5.0</span>
                          </div>
                        </div>
                      </div>
                      <div>
                        <p class="text-lead">3 Mar, 19</p>
                      </div>
                    </div>
                    <p class="mb-0 pt-2 pb-2" style="color: #6A6A6A;">Maecenas interdum lorem eleifend orciquam. mollis. Aliquam non rhoncus magna. ofjp0 of
                      Suspendisse aliquet tincidunt enim, ut .lcommodo
                      elit feugiat et. Maecenas nec enim quis diam faucibus tristique. Nam fermentum, ipsum in suscipit pharetra, mi odio aliquet neque, non
                      iaculis augue elit et libero. Phasellus tempor faucibus faucibus. Sed eu mauris sem. Etiam et varius felis. Donec et libero vitae
                      mauris consectetur egestas. Fusce aliquet, augue non efficitur sodales, turpis nisl consectetur sem, at rutrum lectus libero quis elit.
                      Suspendisse cursus laoreet sapien, in lobortis justo posuere vitae. Aliquam commodo posuere tellus in lacinia. Nullam ac eleifend odio.
                      Donec aliquam semper tellus a condimentum.</p>
                  </div>
                </div>
                <div class="comment-card" style="">
                  <div class="card-body">
                    <div class="d-flex flex-row justify-content-between">
                      <div class="user-rating-card mb-0">
                        <div class="media">
                          <img class="mr-3 rounded-circle" src="../images/user-rating.png" alt="user-rating">
                          <div class="media-body align-self-center">
                            <h5 class="mt-0 font-18 font-500">Carmen Brewer</h5>
                            <div class="rating">
                              <input type="radio" id="star5" name="rating" value="5"><label for="star5" title="Meh">5 stars</label>
                              <input type="radio" id="star4" name="rating" value="4"><label for="star4" title="Kinda bad">4 stars</label>
                              <input type="radio" id="star3" name="rating" value="3"><label for="star3" title="Kinda bad">3 stars</label>
                              <input type="radio" id="star2" name="rating" value="2"><label for="star2" title="Sucks big tim">2 stars</label>
                              <input type="radio" id="star1" name="rating" value="1"><label for="star1" title="Sucks big time">1 star</label>
                            </div>
                            <span class="font-500">5.0</span>
                          </div>
                        </div>
                      </div>
                      <div>
                        <p class="text-lead">3 Mar, 19</p>
                      </div>
                    </div>
                    <p class="mb-0 pt-2 pb-2" style="color: #6A6A6A;">Maecenas interdum lorem eleifend orciquam. mollis. Aliquam non rhoncus magna. ofjp0 of
                      Suspendisse aliquet tincidunt enim, ut .lcommodo
                      elit feugiat et. Maecenas nec enim quis diam faucibus tristique. Nam fermentum, ipsum in suscipit pharetra, mi odio aliquet neque, non
                      iaculis augue elit et libero. Phasellus tempor faucibus faucibus. Sed eu mauris sem. Etiam et varius felis. Donec et libero vitae
                      mauris consectetur egestas. Fusce aliquet, augue non efficitur sodales, turpis nisl consectetur sem, at rutrum lectus libero quis elit.
                      Suspendisse cursus laoreet sapien, in lobortis justo posuere vitae. Aliquam commodo posuere tellus in lacinia. Nullam ac eleifend odio.
                      Donec aliquam semper tellus a condimentum.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-5">
        <div class="card">
          <div class="card-body">
            <button class="btn btn-primary btn-block btn-lg mb-5" data-toggle="modal" data-target="#exampleModalCenter">
              Book
            </button>
            <div class="d-flex justify-content-between">
              <ul class="w-100">
                <li class="border-bottom py-2">
                  <div class="d-flex justify-content-between align-items-center">
                    <p class="mb-0" style="color: #535353;">Brow Wax</p>
                    <label class="ml-5">£ 45</label>
                    <div class="">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="paypalCheck" name="example1">
                        <label class="custom-control-label" for="paypalCheck"></label>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="border-bottom py-2">
                  <div class="d-flex justify-content-between align-items-center">
                    <p class="mb-0" style="color: #535353;">Brow Wax</p>
                    <label class="ml-5">£ 45</label>
                    <div class="">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="paypalCheck2" name="example1">
                        <label class="custom-control-label" for="paypalCheck2"></label>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="border-bottom py-2">
                  <div class="d-flex justify-content-between align-items-center">
                    <p class="mb-0" style="color: #535353;">Brow Wax</p>
                    <label class="ml-5">£ 45</label>
                    <div class="">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="paypalCheck3" name="example1">
                        <label class="custom-control-label" for="paypalCheck3"></label>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="border-bottom py-2">
                  <div class="d-flex justify-content-between align-items-center">
                    <p class="mb-0" style="color: #535353;">Brow Wax</p>
                    <label class="ml-5">£ 45</label>
                    <div class="">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="paypalCheck4" name="example1">
                        <label class="custom-control-label" for="paypalCheck4"></label>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="border-bottom py-2">
                  <div class="d-flex justify-content-between align-items-center">
                    <p class="mb-0" style="color: #535353;">Brow Wax</p>
                    <label class="ml-5">£ 45</label>
                    <div class="">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="paypalCheck5" name="example1">
                        <label class="custom-control-label" for="paypalCheck5"></label>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="d-flex justify-content-between align-items-center">
                    <p class="mb-0" style="color: #535353;">Brow Wax</p>
                    <label class="ml-5">£ 45</label>
                    <div class="">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="paypalCheck6" name="example1">
                        <label class="custom-control-label" for="paypalCheck6"></label>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Login Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content book-modal-content-header">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <img src="../images/Group 1324.png" class="img-fluid">
          </button>
        </div>
        <div class="modal-header p-0">
          <img src="../images/login header modal.png" class="img-fluid">
        </div>
        <div class="modal-body" style="background-color: white">
          <form>
            <div class="form-group m-3">

              <input type="email" class="rounded-0 form-control border-top-0 border-right-0 border-left-0 shadow-none"  placeholder="Email">

            </div>
            <div class="form-group m-3">

              <input type="password" class="rounded-0 form-control border-top-0 border-right-0 border-left-0 shadow-none" id="exampleInputPassword1" placeholder="Password">
            </div>


            <a href="#" class="text-decoration-none text-left m-3" style="color: #FF9797;">Forgot Password?</a>
            <div class="text-center">
              <button type="submit" class="btn modal-button" >Login</button>
              <br>
              <span class="pt-2 pb-2">
									<p class="mb-0 d-inline" style="color: #7D7D7D;">Don't have an account?</p>
									<a href="# "  data-dismiss="modal" class=" text-decoration-none pl-1 d-inline" style="color: #FF9797;" data-toggle="modal" data-target="#signUpModal">Create Account</a>
								</span>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--Sign Up Modal-->
  <div class="modal fade" id="salon" tabindex="-1" role="dialog" aria-labelledby="salon" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content book-modal-content-header">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <img src="../images/Group 1324.png" class="img-fluid">
          </button>
        </div>
        <div class="modal-header p-0">
          <img src="../images/sign up modal.png" class="img-fluid">
        </div>
        <div class="modal-body" style="background-color: white">
						<span class="m-3">
									<p class="mb-0 d-inline" style="color: #7D7D7D;">Already have an account?</p>
									<a href="# "  data-dismiss="modal" class=" text-decoration-none pl-1 d-inline" style="color: #FF9797;" data-toggle="modal" data-target="#exampleModalCenter">Login</a>
								</span>
          <form>
            <div class="form-row m-3">
              <div class="col">
                <input type="text" class="rounded-0 form-control border-top-0 border-right-0 border-left-0 shadow-none"  placeholder="First Name">
              </div>
              <div class="col">
                <input type="text" class="rounded-0 form-control border-top-0 border-right-0 border-left-0 shadow-none"  placeholder="Surname">
              </div>
            </div>

            <div class="form-group m-3">

              <input type="text" class="rounded-0 form-control border-top-0 border-right-0 border-left-0 shadow-none"  placeholder="Email">
            </div>


            <div class="form-group m-3">

              <select id="inputState" class="form-control rounded-0 form-control border-top-0 border-right-0 border-left-0 shadow-none" >

                <option>Male</option>
                <option>FeMale</option>
              </select>
            </div>
            <div class="form-group m-3">

              <input type="date" class="rounded-0 form-control border-top-0 border-right-0 border-left-0 shadow-none"  placeholder="Birthday">
            </div>
            <div class="form-group m-3">

              <input type="text" class="rounded-0 form-control border-top-0 border-right-0 border-left-0 shadow-none"  placeholder="Address">
            </div>
            <div class="form-group m-3">
              <input type="text" class="rounded-0 form-control border-top-0 border-right-0 border-left-0 shadow-none"  placeholder="Post Code">
            </div>
            <div class="form-group m-3">
              <input type="password" class="rounded-0 form-control border-top-0 border-right-0 border-left-0 shadow-none"  placeholder="Password">
            </div>

            <div class="text-center">
              <button type="submit" class="btn modal-button" >Create</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!--    tab End-->
  </div>
  <div class="pt-5" style="border-top: 1px solid #FF9797; border-bottom: 1px solid #FF9797;">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="d-flex justify-content-center align-items-center">
            <div class="user-rating-card user-card-lg rounded-circle mb-0">
              <div class="media">
                <img class="mr-3 rounded-circle" src="../images/user-rating.png" alt="user-rating">
                <div class="media-body align-self-center">
                  <h5 class="mt-0">Carmen Brewer</h5>
                  <div class="rating">
                    <input type="radio" id="star5" name="rating" value="5"><label for="star5" title="Meh">5 stars</label>
                    <input type="radio" id="star4" name="rating" value="4"><label for="star4" title="Kinda bad">4 stars</label>
                    <input type="radio" id="star3" name="rating" value="3"><label for="star3" title="Kinda bad">3 stars</label>
                    <input type="radio" id="star2" name="rating" value="2"><label for="star2" title="Sucks big tim">2 stars</label>
                    <input type="radio" id="star1" name="rating" value="1"><label for="star1" title="Sucks big time">1 star</label>
                  </div>
                  <span class="font-500">5.0</span>
                  <div class="">
                    <button class="btn btn-transparent font-500 font-18 my-3 px-5">View</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="footer-widget">
          <h3 class="widget-title">Navigation</h3>
          <div class="widget-content">
            <ul>
              <li><a href="">Home</a></li>
              <li><a href="">About Us</a></li>
              <li><a href="">Contact Us</a></li>
              <li><a href="">Term & Conditions</a></li>
              <li><a href="">Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="footer-widget">
          <h3 class="widget-title">Search</h3>
          <div class="widget-content">
            <div class="input-group md-form form-sm form-2 pl-0 mb-4">
              <input class="form-control my-0 py-1 red-border" type="text" placeholder="Search">
              <div class="input-group-append">
                    <span class="input-group-text red lighten-3" id="basic-text1">
                      <i class="material-icons">search</i>
                    </span>
              </div>
            </div>
          </div>
          <div class="social-media">
            <a href=""><img src="../images/twitter.png" alt="twitter"></a>
            <a href=""><img src="../images/facebook.png" alt="facebook"></a>
            <a href=""><img src="../images/twitter.png" alt="twitter"></a>
          </div>
          <div class="apps-button-group">
            <a href="#">
              <img src="../images/app-store.png" alt="app-store">
            </a>
            <a href="#">
              <img src="../images/play-store.png" alt="app-store">
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="footer-widget">
          <h3 class="widget-title">Latest Salon</h3>
          <div class="widget-content">
            <div class="row gallery">
              <div class="col-md-4">
                <a href=""><img src="../images/mask.png" class="img-fluid" alt="mask"></a>
              </div>
              <div class="col-md-4">
                <a href=""><img src="../images/mask1.png" class="img-fluid" alt="mask"></a>
              </div>
              <div class="col-md-4">
                <a href=""><img src="../images/mask2.png" class="img-fluid" alt="mask"></a>
              </div>
              <div class="col-md-4">
                <a href=""><img src="../images/mask3.png" class="img-fluid" alt="mask"></a>
              </div>
              <div class="col-md-4">
                <a href=""><img src="../images/mask4.png" class="img-fluid" alt="mask"></a>
              </div>
              <div class="col-md-4">
                <a href=""><img src="../images/mask5.png" class="img-fluid" alt="mask"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col bottom-footer mt-5">
        <p class="copy-right">
          © 2019 Pampr Limited
        </p>
      </div>
    </div>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha256-pTxD+DSzIwmwhOqTFN+DB+nHjO4iAsbgfyFq5K5bcE0=" crossorigin="anonymous"></script>
<script src="../javascript/javascript.js"></script>
</body>
</html>
